In [ ]:
import os
import numpy as np
import pandas as pd

# test_path = 'E:\\data\\Metro\\Metro_testA\\testA_record_2019-01-28.csv'
train_path = 'E:\\data\\Metro\\Metro_train\\'
file_list = os.listdir(train_path)

for file in file_list:
    data = pd.read_csv(train_path + file)
#     data.info()
    data = data.sort_values(by=['stationID', 'time'], ascending='true')

    data['clock'] = data['time'].apply(lambda x: int(x.split()[1].split(':')[0]))
    data['minute'] = data['time'].apply(lambda x: int(x.split()[1].split(':')[1]))

    result = pd.DataFrame(columns=['stationID', 'clock', 'minute', 'inNums', 'outNums'])
    for ID in range(0, 81):
        for clock in range(0, 24):
            for minute in range(0, 60, 10):
                status = data[(data['stationID'] == ID) & (data['clock'] == clock) & (data['minute'] >= minute) & (data['minute'] < minute+10)]['status'];
                result.loc[len(result)] = [ID, clock, minute, status.sum(), len(status)-status.sum()]
                print(result.loc[len(result)-1])

    result.to_csv('E:\\data\\Metro\\Metro_testA\\%s_flow.csv' % file, encoding='utf8')

stationID    0
clock        0
minute       0
inNums       0
outNums      0
Name: 0, dtype: object
stationID     0
clock         0
minute       10
inNums        0
outNums       0
Name: 1, dtype: object
stationID     0
clock         0
minute       20
inNums        0
outNums       0
Name: 2, dtype: object
stationID     0
clock         0
minute       30
inNums        0
outNums       0
Name: 3, dtype: object
stationID     0
clock         0
minute       40
inNums        0
outNums       0
Name: 4, dtype: object
stationID     0
clock         0
minute       50
inNums        0
outNums       0
Name: 5, dtype: object
stationID    0
clock        1
minute       0
inNums       0
outNums      0
Name: 6, dtype: object
stationID     0
clock         1
minute       10
inNums        0
outNums       0
Name: 7, dtype: object
stationID     0
clock         1
minute       20
inNums        0
outNums       0
Name: 8, dtype: object
stationID     0
clock         1
minute       30
inNums        0
outNums       0
Name: 9, dtype: object
stationID     0
clock         1
minute       40
inNums        0
outNums       0
Name: 10, dtype: object
stationID     0
clock         1
minute       50
inNums        0
outNums       0
Name: 11, dtype: object
stationID    0
clock        2
minute       0
inNums       0
outNums      0
Name: 12, dtype: object
stationID     0
clock         2
minute       10
inNums        0
outNums       0
Name: 13, dtype: object
stationID     0
clock         2
minute       20
inNums        0
outNums       0
Name: 14, dtype: object
stationID     0
clock         2
minute       30
inNums        0
outNums       0
Name: 15, dtype: object
stationID     0
clock         2
minute       40
inNums        0
outNums       0
Name: 16, dtype: object
stationID     0
clock         2
minute       50
inNums        0
outNums       0
Name: 17, dtype: object
stationID    0
clock        3
minute       0
inNums       0
outNums      0
Name: 18, dtype: object
stationID     0
clock         3
minute       10
inNums        0
outNums       0
Name: 19, dtype: object
stationID     0
clock         3
minute       20
inNums        0
outNums       0
Name: 20, dtype: object
stationID     0
clock         3
minute       30
inNums        0
outNums       0
Name: 21, dtype: object
stationID     0
clock         3
minute       40
inNums        0
outNums       0
Name: 22, dtype: object
stationID     0
clock         3
minute       50
inNums        0
outNums       0
Name: 23, dtype: object
stationID    0
clock        4
minute       0
inNums       0
outNums      0
Name: 24, dtype: object
stationID     0
clock         4
minute       10
inNums        0
outNums       0
Name: 25, dtype: object
stationID     0
clock         4
minute       20
inNums        0
outNums       0
Name: 26, dtype: object
stationID     0
clock         4
minute       30
inNums        0
outNums       0
Name: 27, dtype: object
stationID     0
clock         4
minute       40
inNums        0
outNums       0
Name: 28, dtype: object
stationID     0
clock         4
minute       50
inNums        0
outNums       0
Name: 29, dtype: object
stationID    0
clock        5
minute       0
inNums       0
outNums      0
Name: 30, dtype: object
stationID     0
clock         5
minute       10
inNums        0
outNums       0
Name: 31, dtype: object
stationID     0
clock         5
minute       20
inNums        0
outNums       0
Name: 32, dtype: object
stationID     0
clock         5
minute       30
inNums        1
outNums       0
Name: 33, dtype: object
stationID     0
clock         5
minute       40
inNums        4
outNums       0
Name: 34, dtype: object
stationID     0
clock         5
minute       50
inNums        3
outNums       1
Name: 35, dtype: object
stationID     0
clock         6
minute        0
inNums       17
outNums       0
Name: 36, dtype: object
stationID     0
clock         6
minute       10
inNums       21
outNums       0
Name: 37, dtype: object
stationID     0
clock         6
minute       20
inNums       30
outNums       1
Name: 38, dtype: object
stationID     0
clock         6
minute       30
inNums       44
outNums      49
Name: 39, dtype: object
stationID     0
clock         6
minute       40
inNums       31
outNums      48
Name: 40, dtype: object
stationID     0
clock         6
minute       50
inNums       66
outNums      25
Name: 41, dtype: object
stationID     0
clock         7
minute        0
inNums       87
outNums      30
Name: 42, dtype: object
stationID      0
clock          7
minute        10
inNums       129
outNums       13
Name: 43, dtype: object
stationID     0
clock         7
minute       20
inNums       79
outNums      31
Name: 44, dtype: object
stationID     0
clock         7
minute       30
inNums       93
outNums       8
Name: 45, dtype: object
stationID      0
clock          7
minute        40
inNums       137
outNums       42
Name: 46, dtype: object
stationID     0
clock         7
minute       50
inNums       98
outNums      35
Name: 47, dtype: object
stationID      0
clock          8
minute         0
inNums       139
outNums       35
Name: 48, dtype: object
stationID      0
clock          8
minute        10
inNums       112
outNums       32
Name: 49, dtype: object
stationID      0
clock          8
minute        20
inNums       139
outNums       35
Name: 50, dtype: object
stationID      0
clock          8
minute        30
inNums       128
outNums       57
Name: 51, dtype: object
stationID      0
clock          8
minute        40
inNums       133
outNums       51
Name: 52, dtype: object
stationID      0
clock          8
minute        50
inNums       167
outNums       61
Name: 53, dtype: object
stationID      0
clock          9
minute         0
inNums       133
outNums       66
Name: 54, dtype: object
stationID      0
clock          9
minute        10
inNums       194
outNums       58
Name: 55, dtype: object
stationID      0
clock          9
minute        20
inNums       181
outNums       71
Name: 56, dtype: object
stationID      0
clock          9
minute        30
inNums       164
outNums       72
Name: 57, dtype: object
stationID      0
clock          9
minute        40
inNums       145
outNums       76
Name: 58, dtype: object
stationID      0
clock          9
minute        50
inNums       218
outNums       82
Name: 59, dtype: object
stationID      0
clock         10
minute         0
inNums       154
outNums       73
Name: 60, dtype: object
stationID      0
clock         10
minute        10
inNums       180
outNums      111
Name: 61, dtype: object
stationID      0
clock         10
minute        20
inNums       192
outNums      115
Name: 62, dtype: object
stationID      0
clock         10
minute        30
inNums       223
outNums       79
Name: 63, dtype: object
stationID      0
clock         10
minute        40
inNums       200
outNums      100
Name: 64, dtype: object
stationID      0
clock         10
minute        50
inNums       203
outNums       84
Name: 65, dtype: object
stationID      0
clock         11
minute         0
inNums       184
outNums       93
Name: 66, dtype: object
stationID      0
clock         11
minute        10
inNums       184
outNums       82
Name: 67, dtype: object
stationID      0
clock         11
minute        20
inNums       165
outNums       80
Name: 68, dtype: object
stationID      0
clock         11
minute        30
inNums       190
outNums       86
Name: 69, dtype: object
stationID      0
clock         11
minute        40
inNums       155
outNums       91
Name: 70, dtype: object
stationID      0
clock         11
minute        50
inNums       159
outNums      112
Name: 71, dtype: object
stationID      0
clock         12
minute         0
inNums       184
outNums       82
Name: 72, dtype: object
stationID      0
clock         12
minute        10
inNums       217
outNums      147
Name: 73, dtype: object
stationID      0
clock         12
minute        20
inNums       146
outNums      100
Name: 74, dtype: object
stationID      0
clock         12
minute        30
inNums       225
outNums      103
Name: 75, dtype: object
stationID      0
clock         12
minute        40
inNums       231
outNums      113
Name: 76, dtype: object
stationID      0
clock         12
minute        50
inNums       163
outNums      159
Name: 77, dtype: object

stationID      0
clock         13
minute         0
inNums       159
outNums      104
Name: 78, dtype: object
stationID      0
clock         13
minute        10
inNums       206
outNums      130
Name: 79, dtype: object
stationID      0
clock         13
minute        20
inNums       183
outNums      129
Name: 80, dtype: object
stationID      0
clock         13
minute        30
inNums       178
outNums      130
Name: 81, dtype: object
stationID      0
clock         13
minute        40
inNums       167
outNums      139
Name: 82, dtype: object
stationID      0
clock         13
minute        50
inNums       179
outNums      174
Name: 83, dtype: object
stationID      0
clock         14
minute         0
inNums       209
outNums       94
Name: 84, dtype: object
stationID      0
clock         14
minute        10
inNums       148
outNums      180
Name: 85, dtype: object
stationID      0
clock         14
minute        20
inNums       211
outNums      200
Name: 86, dtype: object
stationID      0
clock         14
minute        30
inNums       201
outNums      152
Name: 87, dtype: object
stationID      0
clock         14
minute        40
inNums       201
outNums      171
Name: 88, dtype: object
stationID      0
clock         14
minute        50
inNums       228
outNums      161
Name: 89, dtype: object
stationID      0
clock         15
minute         0
inNums       179
outNums      157
Name: 90, dtype: object
stationID      0
clock         15
minute        10
inNums       214
outNums      175
Name: 91, dtype: object
stationID      0
clock         15
minute        20
inNums       160
outNums      151
Name: 92, dtype: object
stationID      0
clock         15
minute        30
inNums       135
outNums      174
Name: 93, dtype: object
stationID      0
clock         15
minute        40
inNums       169
outNums      159
Name: 94, dtype: object
stationID      0
clock         15
minute        50
inNums       193
outNums      216
Name: 95, dtype: object
stationID      0
clock         16
minute         0
inNums       189
outNums      188
Name: 96, dtype: object
stationID      0
clock         16
minute        10
inNums       155
outNums      211
Name: 97, dtype: object
stationID      0
clock         16
minute        20
inNums       173
outNums      154
Name: 98, dtype: object
stationID      0
clock         16
minute        30
inNums       154
outNums      175
Name: 99, dtype: object
stationID      0
clock         16
minute        40
inNums       138
outNums      174
Name: 100, dtype: object
stationID      0
clock         16
minute        50
inNums       130
outNums      190
Name: 101, dtype: object
stationID      0
clock         17
minute         0
inNums       138
outNums      147
Name: 102, dtype: object
stationID      0
clock         17
minute        10
inNums       134
outNums      178
Name: 103, dtype: object
stationID      0
clock         17
minute        20
inNums       144
outNums      159
Name: 104, dtype: object
stationID      0
clock         17
minute        30
inNums       124
outNums      157
Name: 105, dtype: object
stationID      0
clock         17
minute        40
inNums       122
outNums      150
Name: 106, dtype: object
stationID      0
clock         17
minute        50
inNums       119
outNums      150
Name: 107, dtype: object
stationID      0
clock         18
minute         0
inNums       106
outNums      114
Name: 108, dtype: object
stationID      0
clock         18
minute        10
inNums        88
outNums      117
Name: 109, dtype: object
stationID      0
clock         18
minute        20
inNums       106
outNums      129
Name: 110, dtype: object
stationID      0
clock         18
minute        30
inNums       127
outNums      121
Name: 111, dtype: object
stationID      0
clock         18
minute        40
inNums        89
outNums      106
Name: 112, dtype: object
stationID     0
clock        18
minute       50
inNums       73
outNums      77
Name: 113, dtype: object
stationID      0
clock         19
minute         0
inNums        80
outNums      100
Name: 114, dtype: object
stationID     0
clock        19
minute       10
inNums       62
outNums      83
Name: 115, dtype: object
stationID      0
clock         19
minute        20
inNums        59
outNums      106
Name: 116, dtype: object
stationID     0
clock        19
minute       30
inNums       76
outNums      63
Name: 117, dtype: object
stationID     0
clock        19
minute       40
inNums       60
outNums      89
Name: 118, dtype: object
stationID      0
clock         19
minute        50
inNums        42
outNums      103
Name: 119, dtype: object
stationID     0
clock        20
minute        0
inNums       60
outNums      92
Name: 120, dtype: object
stationID     0
clock        20
minute       10
inNums       59
outNums      86
Name: 121, dtype: object
stationID     0
clock        20
minute       20
inNums       55
outNums      82
Name: 122, dtype: object
stationID     0
clock        20
minute       30
inNums       62
outNums      92
Name: 123, dtype: object
stationID     0
clock        20
minute       40
inNums       26
outNums      69
Name: 124, dtype: object
stationID     0
clock        20
minute       50
inNums       35
outNums      98
Name: 125, dtype: object
stationID     0
clock        21
minute        0
inNums       27
outNums      87
Name: 126, dtype: object
stationID     0
clock        21
minute       10
inNums       28
outNums      83
Name: 127, dtype: object
stationID     0
clock        21
minute       20
inNums       31
outNums      46
Name: 128, dtype: object
stationID     0
clock        21
minute       30
inNums       11
outNums      84
Name: 129, dtype: object
stationID     0
clock        21
minute       40
inNums       21
outNums      72
Name: 130, dtype: object
stationID     0
clock        21
minute       50
inNums       11
outNums      60
Name: 131, dtype: object
stationID     0
clock        22
minute        0
inNums       13
outNums      64
Name: 132, dtype: object
stationID     0
clock        22
minute       10
inNums       14
outNums      51
Name: 133, dtype: object
stationID     0
clock        22
minute       20
inNums       14
outNums      59
Name: 134, dtype: object
stationID     0
clock        22
minute       30
inNums        6
outNums      44
Name: 135, dtype: object
stationID     0
clock        22
minute       40
inNums        4
outNums      49
Name: 136, dtype: object
stationID     0
clock        22
minute       50
inNums        0
outNums      35
Name: 137, dtype: object
stationID     0
clock        23
minute        0
inNums        1
outNums      41
Name: 138, dtype: object
stationID     0
clock        23
minute       10
inNums        0
outNums      18
Name: 139, dtype: object
stationID     0
clock        23
minute       20
inNums        0
outNums      23
Name: 140, dtype: object
stationID     0
clock        23
minute       30
inNums        0
outNums      16
Name: 141, dtype: object
stationID     0
clock        23
minute       40
inNums        0
outNums       9
Name: 142, dtype: object
stationID     0
clock        23
minute       50
inNums        0
outNums       9
Name: 143, dtype: object
stationID    1
clock        0
minute       0
inNums       0
outNums      0
Name: 144, dtype: object
stationID     1
clock         0
minute       10
inNums        0
outNums       0
Name: 145, dtype: object
stationID     1
clock         0
minute       20
inNums        0
outNums       0
Name: 146, dtype: object
stationID     1
clock         0
minute       30
inNums        0
outNums       0
Name: 147, dtype: object
stationID     1
clock         0
minute       40
inNums        0
outNums       0
Name: 148, dtype: object
stationID     1
clock         0
minute       50
inNums        0
outNums       0
Name: 149, dtype: object
stationID    1
clock        1
minute       0
inNums       0
outNums      0
Name: 150, dtype: object
stationID     1
clock         1
minute       10
inNums        0
outNums       0
Name: 151, dtype: object
stationID     1
clock         1
minute       20
inNums        0
outNums       0
Name: 152, dtype: object
stationID     1
clock         1
minute       30
inNums        0
outNums       0
Name: 153, dtype: object
stationID     1
clock         1
minute       40
inNums        0
outNums       0
Name: 154, dtype: object
stationID     1
clock         1
minute       50
inNums        0
outNums       0
Name: 155, dtype: object

stationID    1
clock        2
minute       0
inNums       0
outNums      0
Name: 156, dtype: object
stationID     1
clock         2
minute       10
inNums        0
outNums       0
Name: 157, dtype: object
stationID     1
clock         2
minute       20
inNums        0
outNums       0
Name: 158, dtype: object
stationID     1
clock         2
minute       30
inNums        0
outNums       0
Name: 159, dtype: object
stationID     1
clock         2
minute       40
inNums        0
outNums       0
Name: 160, dtype: object
stationID     1
clock         2
minute       50
inNums        0
outNums       0
Name: 161, dtype: object
stationID    1
clock        3
minute       0
inNums       0
outNums      0
Name: 162, dtype: object
stationID     1
clock         3
minute       10
inNums        0
outNums       0
Name: 163, dtype: object
stationID     1
clock         3
minute       20
inNums        0
outNums       0
Name: 164, dtype: object
stationID     1
clock         3
minute       30
inNums        0
outNums       0
Name: 165, dtype: object
stationID     1
clock         3
minute       40
inNums        0
outNums       0
Name: 166, dtype: object
stationID     1
clock         3
minute       50
inNums        0
outNums       0
Name: 167, dtype: object
stationID    1
clock        4
minute       0
inNums       0
outNums      0
Name: 168, dtype: object
stationID     1
clock         4
minute       10
inNums        0
outNums       0
Name: 169, dtype: object
stationID     1
clock         4
minute       20
inNums        0
outNums       0
Name: 170, dtype: object
stationID     1
clock         4
minute       30
inNums        0
outNums       0
Name: 171, dtype: object
stationID     1
clock         4
minute       40
inNums        0
outNums       0
Name: 172, dtype: object
stationID     1
clock         4
minute       50
inNums        0
outNums       0
Name: 173, dtype: object
stationID    1
clock        5
minute       0
inNums       0
outNums      0
Name: 174, dtype: object
stationID     1
clock         5
minute       10
inNums        0
outNums       0
Name: 175, dtype: object
stationID     1
clock         5
minute       20
inNums        0
outNums       0
Name: 176, dtype: object
stationID     1
clock         5
minute       30
inNums        0
outNums       0
Name: 177, dtype: object
stationID     1
clock         5
minute       40
inNums        5
outNums       0
Name: 178, dtype: object
stationID     1
clock         5
minute       50
inNums        5
outNums       0
Name: 179, dtype: object
stationID     1
clock         6
minute        0
inNums       11
outNums       0
Name: 180, dtype: object
stationID     1
clock         6
minute       10
inNums       12
outNums       0
Name: 181, dtype: object
stationID     1
clock         6
minute       20
inNums       15
outNums      32
Name: 182, dtype: object
stationID     1
clock         6
minute       30
inNums       17
outNums      25
Name: 183, dtype: object
stationID     1
clock         6
minute       40
inNums       21
outNums      10
Name: 184, dtype: object
stationID     1
clock         6
minute       50
inNums       29
outNums      10
Name: 185, dtype: object
stationID     1
clock         7
minute        0
inNums       22
outNums      14
Name: 186, dtype: object
stationID     1
clock         7
minute       10
inNums       39
outNums      13
Name: 187, dtype: object
stationID     1
clock         7
minute       20
inNums       32
outNums      18
Name: 188, dtype: object
stationID     1
clock         7
minute       30
inNums       48
outNums      15
Name: 189, dtype: object
stationID     1
clock         7
minute       40
inNums       63
outNums      25
Name: 190, dtype: object
stationID     1
clock         7
minute       50
inNums       73
outNums      17
Name: 191, dtype: object
stationID     1
clock         8
minute        0
inNums       51
outNums       9
Name: 192, dtype: object
stationID     1
clock         8
minute       10
inNums       80
outNums      17
Name: 193, dtype: object
stationID     1
clock         8
minute       20
inNums       63
outNums      18
Name: 194, dtype: object
stationID     1
clock         8
minute       30
inNums       63
outNums      41
Name: 195, dtype: object
stationID     1
clock         8
minute       40
inNums       90
outNums      17
Name: 196, dtype: object
stationID     1
clock         8
minute       50
inNums       63
outNums      19
Name: 197, dtype: object
stationID     1
clock         9
minute        0
inNums       65
outNums      21
Name: 198, dtype: object
stationID     1
clock         9
minute       10
inNums       63
outNums      10
Name: 199, dtype: object
stationID     1
clock         9
minute       20
inNums       74
outNums      31
Name: 200, dtype: object
stationID     1
clock         9
minute       30
inNums       77
outNums      30
Name: 201, dtype: object
stationID     1
clock         9
minute       40
inNums       71
outNums      19
Name: 202, dtype: object
stationID     1
clock         9
minute       50
inNums       91
outNums      40
Name: 203, dtype: object
stationID     1
clock        10
minute        0
inNums       78
outNums      36
Name: 204, dtype: object
stationID     1
clock        10
minute       10
inNums       67
outNums      32
Name: 205, dtype: object
stationID     1
clock        10
minute       20
inNums       79
outNums       9
Name: 206, dtype: object
stationID      1
clock         10
minute        30
inNums       119
outNums       36
Name: 207, dtype: object
stationID     1
clock        10
minute       40
inNums       83
outNums      31
Name: 208, dtype: object
stationID     1
clock        10
minute       50
inNums       63
outNums      27
Name: 209, dtype: object
stationID     1
clock        11
minute        0
inNums       86
outNums      30
Name: 210, dtype: object
stationID     1
clock        11
minute       10
inNums       72
outNums      28
Name: 211, dtype: object
stationID     1
clock        11
minute       20
inNums       87
outNums      46
Name: 212, dtype: object
stationID     1
clock        11
minute       30
inNums       88
outNums      38
Name: 213, dtype: object
stationID     1
clock        11
minute       40
inNums       80
outNums      52
Name: 214, dtype: object
stationID     1
clock        11
minute       50
inNums       73
outNums      29
Name: 215, dtype: object
stationID     1
clock        12
minute        0
inNums       80
outNums      33
Name: 216, dtype: object
stationID     1
clock        12
minute       10
inNums       90
outNums      41
Name: 217, dtype: object
stationID     1
clock        12
minute       20
inNums       68
outNums      46
Name: 218, dtype: object
stationID     1
clock        12
minute       30
inNums       78
outNums      51
Name: 219, dtype: object
stationID      1
clock         12
minute        40
inNums       101
outNums       39
Name: 220, dtype: object
stationID      1
clock         12
minute        50
inNums       141
outNums       45
Name: 221, dtype: object
stationID     1
clock        13
minute        0
inNums       97
outNums      33
Name: 222, dtype: object
stationID     1
clock        13
minute       10
inNums       90
outNums      60
Name: 223, dtype: object
stationID     1
clock        13
minute       20
inNums       67
outNums      35
Name: 224, dtype: object
stationID     1
clock        13
minute       30
inNums       98
outNums      51
Name: 225, dtype: object
stationID      1
clock         13
minute        40
inNums       107
outNums       41
Name: 226, dtype: object
stationID     1
clock        13
minute       50
inNums       84
outNums      46
Name: 227, dtype: object
stationID     1
clock        14
minute        0
inNums       65
outNums      58
Name: 228, dtype: object
stationID     1
clock        14
minute       10
inNums       75
outNums      67
Name: 229, dtype: object
stationID      1
clock         14
minute        20
inNums       104
outNums       70
Name: 230, dtype: object
stationID     1
clock        14
minute       30
inNums       81
outNums      44
Name: 231, dtype: object
stationID     1
clock        14
minute       40
inNums       76
outNums      65
Name: 232, dtype: object
stationID     1
clock        14
minute       50
inNums       69
outNums      63
Name: 233, dtype: object
stationID     1
clock        15
minute        0
inNums       54
outNums      96
Name: 234, dtype: object
stationID     1
clock        15
minute       10
inNums       74
outNums      77
Name: 235, dtype: object

stationID     1
clock        15
minute       20
inNums       72
outNums      76
Name: 236, dtype: object
stationID     1
clock        15
minute       30
inNums       66
outNums      65
Name: 237, dtype: object
stationID      1
clock         15
minute        40
inNums        79
outNums      129
Name: 238, dtype: object
stationID     1
clock        15
minute       50
inNums       68
outNums      85
Name: 239, dtype: object
stationID     1
clock        16
minute        0
inNums       64
outNums      72
Name: 240, dtype: object
stationID     1
clock        16
minute       10
inNums       53
outNums      79
Name: 241, dtype: object
stationID     1
clock        16
minute       20
inNums       67
outNums      95
Name: 242, dtype: object
stationID     1
clock        16
minute       30
inNums       87
outNums      96
Name: 243, dtype: object
stationID     1
clock        16
minute       40
inNums       71
outNums      86
Name: 244, dtype: object
stationID     1
clock        16
minute       50
inNums       50
outNums      82
Name: 245, dtype: object
stationID      1
clock         17
minute         0
inNums        49
outNums      147
Name: 246, dtype: object
stationID      1
clock         17
minute        10
inNums        69
outNums      104
Name: 247, dtype: object
stationID      1
clock         17
minute        20
inNums        62
outNums      116
Name: 248, dtype: object
stationID      1
clock         17
minute        30
inNums        66
outNums      122
Name: 249, dtype: object
stationID     1
clock        17
minute       40
inNums       63
outNums      80
Name: 250, dtype: object
stationID      1
clock         17
minute        50
inNums        62
outNums      125
Name: 251, dtype: object
stationID      1
clock         18
minute         0
inNums        80
outNums      104
Name: 252, dtype: object
stationID      1
clock         18
minute        10
inNums        62
outNums      118
Name: 253, dtype: object
stationID     1
clock        18
minute       20
inNums       55
outNums      86
Name: 254, dtype: object
stationID      1
clock         18
minute        30
inNums        57
outNums      108
Name: 255, dtype: object
stationID     1
clock        18
minute       40
inNums       37
outNums      68
Name: 256, dtype: object
stationID     1
clock        18
minute       50
inNums       42
outNums      89
Name: 257, dtype: object
stationID      1
clock         19
minute         0
inNums        37
outNums      126
Name: 258, dtype: object
stationID     1
clock        19
minute       10
inNums       51
outNums      95
Name: 259, dtype: object
stationID     1
clock        19
minute       20
inNums       40
outNums      98
Name: 260, dtype: object
stationID     1
clock        19
minute       30
inNums       41
outNums      80
Name: 261, dtype: object
stationID      1
clock         19
minute        40
inNums        29
outNums      101
Name: 262, dtype: object
stationID     1
clock        19
minute       50
inNums       30
outNums      74
Name: 263, dtype: object
stationID      1
clock         20
minute         0
inNums        27
outNums      161
Name: 264, dtype: object
stationID      1
clock         20
minute        10
inNums        33
outNums      123
Name: 265, dtype: object
stationID      1
clock         20
minute        20
inNums        33
outNums      104
Name: 266, dtype: object
stationID      1
clock         20
minute        30
inNums        25
outNums      115
Name: 267, dtype: object
stationID      1
clock         20
minute        40
inNums        15
outNums      116
Name: 268, dtype: object
stationID      1
clock         20
minute        50
inNums        17
outNums      116
Name: 269, dtype: object
stationID     1
clock        21
minute        0
inNums       22
outNums      92
Name: 270, dtype: object
stationID      1
clock         21
minute        10
inNums        19
outNums      154
Name: 271, dtype: object
stationID     1
clock        21
minute       20
inNums       15
outNums      97
Name: 272, dtype: object
stationID     1
clock        21
minute       30
inNums       21
outNums      90
Name: 273, dtype: object
stationID     1
clock        21
minute       40
inNums        9
outNums      68
Name: 274, dtype: object
stationID      1
clock         21
minute        50
inNums        12
outNums      116
Name: 275, dtype: object
stationID      1
clock         22
minute         0
inNums        14
outNums      108
Name: 276, dtype: object
stationID     1
clock        22
minute       10
inNums       10
outNums      67
Name: 277, dtype: object
stationID      1
clock         22
minute        20
inNums         8
outNums      101
Name: 278, dtype: object
stationID     1
clock        22
minute       30
inNums       12
outNums      52
Name: 279, dtype: object
stationID      1
clock         22
minute        40
inNums         4
outNums      101
Name: 280, dtype: object
stationID     1
clock        22
minute       50
inNums        3
outNums      63
Name: 281, dtype: object
stationID     1
clock        23
minute        0
inNums        1
outNums      68
Name: 282, dtype: object
stationID     1
clock        23
minute       10
inNums        0
outNums      47
Name: 283, dtype: object
stationID     1
clock        23
minute       20
inNums        0
outNums      40
Name: 284, dtype: object
stationID     1
clock        23
minute       30
inNums        0
outNums      18
Name: 285, dtype: object
stationID     1
clock        23
minute       40
inNums        0
outNums      18
Name: 286, dtype: object
stationID     1
clock        23
minute       50
inNums        0
outNums       4
Name: 287, dtype: object
stationID    2
clock        0
minute       0
inNums       0
outNums      0
Name: 288, dtype: object
stationID     2
clock         0
minute       10
inNums        0
outNums       0
Name: 289, dtype: object
stationID     2
clock         0
minute       20
inNums        0
outNums       0
Name: 290, dtype: object
stationID     2
clock         0
minute       30
inNums        0
outNums       0
Name: 291, dtype: object
stationID     2
clock         0
minute       40
inNums        0
outNums       0
Name: 292, dtype: object
stationID     2
clock         0
minute       50
inNums        0
outNums       0
Name: 293, dtype: object
stationID    2
clock        1
minute       0
inNums       0
outNums      0
Name: 294, dtype: object
stationID     2
clock         1
minute       10
inNums        0
outNums       0
Name: 295, dtype: object
stationID     2
clock         1
minute       20
inNums        0
outNums       0
Name: 296, dtype: object
stationID     2
clock         1
minute       30
inNums        0
outNums       0
Name: 297, dtype: object
stationID     2
clock         1
minute       40
inNums        0
outNums       0
Name: 298, dtype: object
stationID     2
clock         1
minute       50
inNums        0
outNums       0
Name: 299, dtype: object
stationID    2
clock        2
minute       0
inNums       0
outNums      0
Name: 300, dtype: object
stationID     2
clock         2
minute       10
inNums        0
outNums       0
Name: 301, dtype: object
stationID     2
clock         2
minute       20
inNums        0
outNums       0
Name: 302, dtype: object
stationID     2
clock         2
minute       30
inNums        0
outNums       0
Name: 303, dtype: object
stationID     2
clock         2
minute       40
inNums        0
outNums       0
Name: 304, dtype: object
stationID     2
clock         2
minute       50
inNums        0
outNums       0
Name: 305, dtype: object
stationID    2
clock        3
minute       0
inNums       0
outNums      0
Name: 306, dtype: object
stationID     2
clock         3
minute       10
inNums        0
outNums       0
Name: 307, dtype: object
stationID     2
clock         3
minute       20
inNums        0
outNums       0
Name: 308, dtype: object
stationID     2
clock         3
minute       30
inNums        0
outNums       0
Name: 309, dtype: object
stationID     2
clock         3
minute       40
inNums        0
outNums       0
Name: 310, dtype: object
stationID     2
clock         3
minute       50
inNums        0
outNums       0
Name: 311, dtype: object
stationID    2
clock        4
minute       0
inNums       0
outNums      0
Name: 312, dtype: object
stationID     2
clock         4
minute       10
inNums        0
outNums       0
Name: 313, dtype: object

stationID     2
clock         4
minute       20
inNums        0
outNums       0
Name: 314, dtype: object
stationID     2
clock         4
minute       30
inNums        0
outNums       0
Name: 315, dtype: object
stationID     2
clock         4
minute       40
inNums        0
outNums       0
Name: 316, dtype: object
stationID     2
clock         4
minute       50
inNums        0
outNums       0
Name: 317, dtype: object
stationID    2
clock        5
minute       0
inNums       0
outNums      0
Name: 318, dtype: object
stationID     2
clock         5
minute       10
inNums        0
outNums       0
Name: 319, dtype: object
stationID     2
clock         5
minute       20
inNums        0
outNums       0
Name: 320, dtype: object
stationID     2
clock         5
minute       30
inNums        0
outNums       0
Name: 321, dtype: object
stationID     2
clock         5
minute       40
inNums        9
outNums       0
Name: 322, dtype: object
stationID     2
clock         5
minute       50
inNums       11
outNums       0
Name: 323, dtype: object
stationID    2
clock        6
minute       0
inNums       9
outNums      0
Name: 324, dtype: object
stationID     2
clock         6
minute       10
inNums       19
outNums       2
Name: 325, dtype: object
stationID     2
clock         6
minute       20
inNums       27
outNums      48
Name: 326, dtype: object
stationID     2
clock         6
minute       30
inNums       24
outNums      39
Name: 327, dtype: object
stationID     2
clock         6
minute       40
inNums       32
outNums      32
Name: 328, dtype: object
stationID     2
clock         6
minute       50
inNums       51
outNums      33
Name: 329, dtype: object
stationID     2
clock         7
minute        0
inNums       60
outNums      25
Name: 330, dtype: object
stationID     2
clock         7
minute       10
inNums       61
outNums      38
Name: 331, dtype: object
stationID     2
clock         7
minute       20
inNums       95
outNums      33
Name: 332, dtype: object
stationID     2
clock         7
minute       30
inNums       76
outNums      44
Name: 333, dtype: object
stationID      2
clock          7
minute        40
inNums       104
outNums       28
Name: 334, dtype: object
stationID     2
clock         7
minute       50
inNums       98
outNums      56
Name: 335, dtype: object
stationID     2
clock         8
minute        0
inNums       94
outNums      59
Name: 336, dtype: object
stationID      2
clock          8
minute        10
inNums       104
outNums       53
Name: 337, dtype: object
stationID      2
clock          8
minute        20
inNums       120
outNums       99
Name: 338, dtype: object
stationID      2
clock          8
minute        30
inNums       112
outNums       71
Name: 339, dtype: object
stationID      2
clock          8
minute        40
inNums       116
outNums      104
Name: 340, dtype: object
stationID      2
clock          8
minute        50
inNums       114
outNums       59
Name: 341, dtype: object
stationID      2
clock          9
minute         0
inNums       144
outNums       93
Name: 342, dtype: object
stationID      2
clock          9
minute        10
inNums       111
outNums       89
Name: 343, dtype: object
stationID      2
clock          9
minute        20
inNums       133
outNums       79
Name: 344, dtype: object
stationID      2
clock          9
minute        30
inNums       139
outNums       49
Name: 345, dtype: object
stationID      2
clock          9
minute        40
inNums       144
outNums       73
Name: 346, dtype: object
stationID      2
clock          9
minute        50
inNums       142
outNums       67
Name: 347, dtype: object
stationID      2
clock         10
minute         0
inNums       187
outNums       73
Name: 348, dtype: object
stationID      2
clock         10
minute        10
inNums       163
outNums       85
Name: 349, dtype: object
stationID      2
clock         10
minute        20
inNums       190
outNums       96
Name: 350, dtype: object
stationID      2
clock         10
minute        30
inNums       155
outNums       81
Name: 351, dtype: object
stationID      2
clock         10
minute        40
inNums       201
outNums       80
Name: 352, dtype: object
stationID      2
clock         10
minute        50
inNums       191
outNums      116
Name: 353, dtype: object
stationID      2
clock         11
minute         0
inNums       226
outNums       83
Name: 354, dtype: object
stationID      2
clock         11
minute        10
inNums       182
outNums       86
Name: 355, dtype: object
stationID      2
clock         11
minute        20
inNums       252
outNums      128
Name: 356, dtype: object
stationID      2
clock         11
minute        30
inNums       194
outNums       86
Name: 357, dtype: object
stationID      2
clock         11
minute        40
inNums       178
outNums       86
Name: 358, dtype: object
stationID      2
clock         11
minute        50
inNums       245
outNums       89
Name: 359, dtype: object
stationID      2
clock         12
minute         0
inNums       206
outNums       96
Name: 360, dtype: object
stationID      2
clock         12
minute        10
inNums       231
outNums      126
Name: 361, dtype: object
stationID      2
clock         12
minute        20
inNums       230
outNums      114
Name: 362, dtype: object
stationID      2
clock         12
minute        30
inNums       233
outNums       91
Name: 363, dtype: object
stationID      2
clock         12
minute        40
inNums       247
outNums      123
Name: 364, dtype: object
stationID      2
clock         12
minute        50
inNums       197
outNums      108
Name: 365, dtype: object
stationID      2
clock         13
minute         0
inNums       229
outNums      149
Name: 366, dtype: object
stationID      2
clock         13
minute        10
inNums       194
outNums      160
Name: 367, dtype: object
stationID      2
clock         13
minute        20
inNums       233
outNums      186
Name: 368, dtype: object
stationID      2
clock         13
minute        30
inNums       193
outNums      133
Name: 369, dtype: object
stationID      2
clock         13
minute        40
inNums       248
outNums      146
Name: 370, dtype: object
stationID      2
clock         13
minute        50
inNums       225
outNums      167
Name: 371, dtype: object
stationID      2
clock         14
minute         0
inNums       233
outNums      237
Name: 372, dtype: object
stationID      2
clock         14
minute        10
inNums       249
outNums      202
Name: 373, dtype: object
stationID      2
clock         14
minute        20
inNums       240
outNums      180
Name: 374, dtype: object
stationID      2
clock         14
minute        30
inNums       186
outNums      196
Name: 375, dtype: object
stationID      2
clock         14
minute        40
inNums       248
outNums      238
Name: 376, dtype: object
stationID      2
clock         14
minute        50
inNums       187
outNums      163
Name: 377, dtype: object
stationID      2
clock         15
minute         0
inNums       196
outNums      262
Name: 378, dtype: object
stationID      2
clock         15
minute        10
inNums       223
outNums      215
Name: 379, dtype: object
stationID      2
clock         15
minute        20
inNums       201
outNums      233
Name: 380, dtype: object
stationID      2
clock         15
minute        30
inNums       154
outNums      265
Name: 381, dtype: object
stationID      2
clock         15
minute        40
inNums       226
outNums      278
Name: 382, dtype: object
stationID      2
clock         15
minute        50
inNums       155
outNums      292
Name: 383, dtype: object
stationID      2
clock         16
minute         0
inNums       180
outNums      286
Name: 384, dtype: object
stationID      2
clock         16
minute        10
inNums       153
outNums      265
Name: 385, dtype: object
stationID      2
clock         16
minute        20
inNums       162
outNums      314
Name: 386, dtype: object
stationID      2
clock         16
minute        30
inNums       162
outNums      320
Name: 387, dtype: object
stationID      2
clock         16
minute        40
inNums       163
outNums      285
Name: 388, dtype: object
stationID      2
clock         16
minute        50
inNums       159
outNums      257
Name: 389, dtype: object
stationID      2
clock         17
minute         0
inNums       152
outNums      305
Name: 390, dtype: object
stationID      2
clock         17
minute        10
inNums       172
outNums      339
Name: 391, dtype: object

stationID      2
clock         17
minute        20
inNums       159
outNums      334
Name: 392, dtype: object
stationID      2
clock         17
minute        30
inNums       131
outNums      302
Name: 393, dtype: object
stationID      2
clock         17
minute        40
inNums       156
outNums      256
Name: 394, dtype: object
stationID      2
clock         17
minute        50
inNums       157
outNums      263
Name: 395, dtype: object
stationID      2
clock         18
minute         0
inNums       152
outNums      338
Name: 396, dtype: object
stationID      2
clock         18
minute        10
inNums       146
outNums      375
Name: 397, dtype: object
stationID      2
clock         18
minute        20
inNums       153
outNums      257
Name: 398, dtype: object
stationID      2
clock         18
minute        30
inNums       131
outNums      289
Name: 399, dtype: object
stationID      2
clock         18
minute        40
inNums        91
outNums      273
Name: 400, dtype: object
stationID      2
clock         18
minute        50
inNums       123
outNums      285
Name: 401, dtype: object
stationID      2
clock         19
minute         0
inNums        98
outNums      249
Name: 402, dtype: object
stationID      2
clock         19
minute        10
inNums        93
outNums      296
Name: 403, dtype: object
stationID      2
clock         19
minute        20
inNums       117
outNums      257
Name: 404, dtype: object
stationID      2
clock         19
minute        30
inNums        82
outNums      270
Name: 405, dtype: object
stationID      2
clock         19
minute        40
inNums        63
outNums      182
Name: 406, dtype: object
stationID      2
clock         19
minute        50
inNums        58
outNums      329
Name: 407, dtype: object
stationID      2
clock         20
minute         0
inNums        61
outNums      305
Name: 408, dtype: object
stationID      2
clock         20
minute        10
inNums        78
outNums      406
Name: 409, dtype: object
stationID      2
clock         20
minute        20
inNums        46
outNums      194
Name: 410, dtype: object
stationID      2
clock         20
minute        30
inNums        53
outNums      344
Name: 411, dtype: object
stationID      2
clock         20
minute        40
inNums        49
outNums      320
Name: 412, dtype: object
stationID      2
clock         20
minute        50
inNums        60
outNums      244
Name: 413, dtype: object
stationID      2
clock         21
minute         0
inNums        39
outNums      340
Name: 414, dtype: object
stationID      2
clock         21
minute        10
inNums        50
outNums      274
Name: 415, dtype: object
stationID      2
clock         21
minute        20
inNums        38
outNums      273
Name: 416, dtype: object
stationID      2
clock         21
minute        30
inNums        36
outNums      235
Name: 417, dtype: object
stationID      2
clock         21
minute        40
inNums        45
outNums      198
Name: 418, dtype: object
stationID      2
clock         21
minute        50
inNums        32
outNums      193
Name: 419, dtype: object
stationID      2
clock         22
minute         0
inNums        23
outNums      218
Name: 420, dtype: object
stationID      2
clock         22
minute        10
inNums        35
outNums      198
Name: 421, dtype: object
stationID      2
clock         22
minute        20
inNums        12
outNums      175
Name: 422, dtype: object
stationID      2
clock         22
minute        30
inNums        18
outNums      242
Name: 423, dtype: object
stationID      2
clock         22
minute        40
inNums        16
outNums      116
Name: 424, dtype: object
stationID      2
clock         22
minute        50
inNums         1
outNums      226
Name: 425, dtype: object
stationID      2
clock         23
minute         0
inNums         2
outNums      162
Name: 426, dtype: object
stationID      2
clock         23
minute        10
inNums         4
outNums      140
Name: 427, dtype: object
stationID     2
clock        23
minute       20
inNums        2
outNums      92
Name: 428, dtype: object
stationID     2
clock        23
minute       30
inNums        0
outNums      49
Name: 429, dtype: object
stationID     2
clock        23
minute       40
inNums        0
outNums      73
Name: 430, dtype: object
stationID     2
clock        23
minute       50
inNums        0
outNums      34
Name: 431, dtype: object
stationID    3
clock        0
minute       0
inNums       0
outNums      0
Name: 432, dtype: object
stationID     3
clock         0
minute       10
inNums        0
outNums       0
Name: 433, dtype: object
stationID     3
clock         0
minute       20
inNums        0
outNums       0
Name: 434, dtype: object
stationID     3
clock         0
minute       30
inNums        0
outNums       0
Name: 435, dtype: object
stationID     3
clock         0
minute       40
inNums        0
outNums       0
Name: 436, dtype: object
stationID     3
clock         0
minute       50
inNums        0
outNums       0
Name: 437, dtype: object
stationID    3
clock        1
minute       0
inNums       0
outNums      0
Name: 438, dtype: object
stationID     3
clock         1
minute       10
inNums        0
outNums       0
Name: 439, dtype: object
stationID     3
clock         1
minute       20
inNums        0
outNums       0
Name: 440, dtype: object
stationID     3
clock         1
minute       30
inNums        0
outNums       0
Name: 441, dtype: object
stationID     3
clock         1
minute       40
inNums        0
outNums       0
Name: 442, dtype: object
stationID     3
clock         1
minute       50
inNums        0
outNums       0
Name: 443, dtype: object
stationID    3
clock        2
minute       0
inNums       0
outNums      1
Name: 444, dtype: object
stationID     3
clock         2
minute       10
inNums        0
outNums       0
Name: 445, dtype: object
stationID     3
clock         2
minute       20
inNums        0
outNums       0
Name: 446, dtype: object
stationID     3
clock         2
minute       30
inNums        0
outNums       0
Name: 447, dtype: object
stationID     3
clock         2
minute       40
inNums        0
outNums       0
Name: 448, dtype: object
stationID     3
clock         2
minute       50
inNums        0
outNums       0
Name: 449, dtype: object
stationID    3
clock        3
minute       0
inNums       0
outNums      0
Name: 450, dtype: object
stationID     3
clock         3
minute       10
inNums        0
outNums       0
Name: 451, dtype: object
stationID     3
clock         3
minute       20
inNums        0
outNums       0
Name: 452, dtype: object
stationID     3
clock         3
minute       30
inNums        0
outNums       0
Name: 453, dtype: object
stationID     3
clock         3
minute       40
inNums        0
outNums       0
Name: 454, dtype: object
stationID     3
clock         3
minute       50
inNums        0
outNums       0
Name: 455, dtype: object
stationID    3
clock        4
minute       0
inNums       0
outNums      0
Name: 456, dtype: object
stationID     3
clock         4
minute       10
inNums        0
outNums       0
Name: 457, dtype: object
stationID     3
clock         4
minute       20
inNums        0
outNums       0
Name: 458, dtype: object
stationID     3
clock         4
minute       30
inNums        0
outNums       0
Name: 459, dtype: object
stationID     3
clock         4
minute       40
inNums        0
outNums       0
Name: 460, dtype: object
stationID     3
clock         4
minute       50
inNums        0
outNums       0
Name: 461, dtype: object
stationID    3
clock        5
minute       0
inNums       0
outNums      0
Name: 462, dtype: object
stationID     3
clock         5
minute       10
inNums        0
outNums       0
Name: 463, dtype: object
stationID     3
clock         5
minute       20
inNums        0
outNums       0
Name: 464, dtype: object
stationID     3
clock         5
minute       30
inNums        0
outNums       0
Name: 465, dtype: object
stationID     3
clock         5
minute       40
inNums        2
outNums       0
Name: 466, dtype: object
stationID     3
clock         5
minute       50
inNums       16
outNums       0
Name: 467, dtype: object
stationID    3
clock        6
minute       0
inNums       8
outNums      0
Name: 468, dtype: object
stationID     3
clock         6
minute       10
inNums       19
outNums       1
Name: 469, dtype: object

stationID     3
clock         6
minute       20
inNums       14
outNums      37
Name: 470, dtype: object
stationID     3
clock         6
minute       30
inNums       30
outNums      41
Name: 471, dtype: object
stationID     3
clock         6
minute       40
inNums       42
outNums      20
Name: 472, dtype: object
stationID     3
clock         6
minute       50
inNums       42
outNums      16
Name: 473, dtype: object
stationID     3
clock         7
minute        0
inNums       56
outNums      15
Name: 474, dtype: object
stationID     3
clock         7
minute       10
inNums       59
outNums      22
Name: 475, dtype: object
stationID     3
clock         7
minute       20
inNums       76
outNums      24
Name: 476, dtype: object
stationID      3
clock          7
minute        30
inNums       101
outNums       35
Name: 477, dtype: object
stationID     3
clock         7
minute       40
inNums       74
outNums      24
Name: 478, dtype: object
stationID     3
clock         7
minute       50
inNums       66
outNums      25
Name: 479, dtype: object
stationID     3
clock         8
minute        0
inNums       93
outNums      21
Name: 480, dtype: object
stationID      3
clock          8
minute        10
inNums       102
outNums       36
Name: 481, dtype: object
stationID     3
clock         8
minute       20
inNums       99
outNums      29
Name: 482, dtype: object
stationID     3
clock         8
minute       30
inNums       95
outNums      47
Name: 483, dtype: object
stationID     3
clock         8
minute       40
inNums       99
outNums      36
Name: 484, dtype: object
stationID      3
clock          8
minute        50
inNums       113
outNums       43
Name: 485, dtype: object
stationID      3
clock          9
minute         0
inNums       105
outNums       47
Name: 486, dtype: object
stationID      3
clock          9
minute        10
inNums       116
outNums       48
Name: 487, dtype: object
stationID      3
clock          9
minute        20
inNums       111
outNums       53
Name: 488, dtype: object
stationID      3
clock          9
minute        30
inNums       108
outNums       51
Name: 489, dtype: object
stationID      3
clock          9
minute        40
inNums       118
outNums       63
Name: 490, dtype: object
stationID     3
clock         9
minute       50
inNums       98
outNums      50
Name: 491, dtype: object
stationID      3
clock         10
minute         0
inNums       137
outNums       52
Name: 492, dtype: object
stationID      3
clock         10
minute        10
inNums       145
outNums       55
Name: 493, dtype: object
stationID      3
clock         10
minute        20
inNums       133
outNums       47
Name: 494, dtype: object
stationID      3
clock         10
minute        30
inNums       142
outNums       45
Name: 495, dtype: object
stationID      3
clock         10
minute        40
inNums       148
outNums       66
Name: 496, dtype: object
stationID      3
clock         10
minute        50
inNums       102
outNums       48
Name: 497, dtype: object
stationID      3
clock         11
minute         0
inNums       135
outNums       80
Name: 498, dtype: object
stationID      3
clock         11
minute        10
inNums       171
outNums       53
Name: 499, dtype: object
stationID      3
clock         11
minute        20
inNums       138
outNums      105
Name: 500, dtype: object
stationID      3
clock         11
minute        30
inNums       134
outNums       94
Name: 501, dtype: object
stationID      3
clock         11
minute        40
inNums       147
outNums       83
Name: 502, dtype: object
stationID      3
clock         11
minute        50
inNums       133
outNums       67
Name: 503, dtype: object
stationID      3
clock         12
minute         0
inNums       119
outNums       84
Name: 504, dtype: object
stationID      3
clock         12
minute        10
inNums       143
outNums       63
Name: 505, dtype: object
stationID      3
clock         12
minute        20
inNums       138
outNums       88
Name: 506, dtype: object
stationID      3
clock         12
minute        30
inNums       157
outNums      113
Name: 507, dtype: object
stationID      3
clock         12
minute        40
inNums       133
outNums       92
Name: 508, dtype: object
stationID      3
clock         12
minute        50
inNums       182
outNums       96
Name: 509, dtype: object
stationID      3
clock         13
minute         0
inNums       135
outNums       86
Name: 510, dtype: object
stationID      3
clock         13
minute        10
inNums       166
outNums      110
Name: 511, dtype: object
stationID      3
clock         13
minute        20
inNums       158
outNums       97
Name: 512, dtype: object
stationID      3
clock         13
minute        30
inNums       171
outNums      111
Name: 513, dtype: object
stationID      3
clock         13
minute        40
inNums       167
outNums      114
Name: 514, dtype: object
stationID      3
clock         13
minute        50
inNums       155
outNums      136
Name: 515, dtype: object
stationID      3
clock         14
minute         0
inNums       169
outNums      115
Name: 516, dtype: object
stationID      3
clock         14
minute        10
inNums       164
outNums      109
Name: 517, dtype: object
stationID      3
clock         14
minute        20
inNums       159
outNums      137
Name: 518, dtype: object
stationID      3
clock         14
minute        30
inNums       148
outNums      139
Name: 519, dtype: object
stationID      3
clock         14
minute        40
inNums       155
outNums      128
Name: 520, dtype: object
stationID      3
clock         14
minute        50
inNums       143
outNums      182
Name: 521, dtype: object
stationID      3
clock         15
minute         0
inNums       138
outNums      127
Name: 522, dtype: object
stationID      3
clock         15
minute        10
inNums       156
outNums      186
Name: 523, dtype: object
stationID      3
clock         15
minute        20
inNums       141
outNums      132
Name: 524, dtype: object
stationID      3
clock         15
minute        30
inNums       131
outNums      202
Name: 525, dtype: object
stationID      3
clock         15
minute        40
inNums       133
outNums      143
Name: 526, dtype: object
stationID      3
clock         15
minute        50
inNums       141
outNums      257
Name: 527, dtype: object
stationID      3
clock         16
minute         0
inNums       146
outNums      163
Name: 528, dtype: object
stationID      3
clock         16
minute        10
inNums       151
outNums      206
Name: 529, dtype: object
stationID      3
clock         16
minute        20
inNums        95
outNums      191
Name: 530, dtype: object
stationID      3
clock         16
minute        30
inNums       127
outNums      275
Name: 531, dtype: object
stationID      3
clock         16
minute        40
inNums        97
outNums      239
Name: 532, dtype: object
stationID      3
clock         16
minute        50
inNums       110
outNums      262
Name: 533, dtype: object
stationID      3
clock         17
minute         0
inNums       100
outNums      254
Name: 534, dtype: object
stationID      3
clock         17
minute        10
inNums       118
outNums      270
Name: 535, dtype: object
stationID      3
clock         17
minute        20
inNums       106
outNums      205
Name: 536, dtype: object
stationID      3
clock         17
minute        30
inNums       126
outNums      255
Name: 537, dtype: object
stationID      3
clock         17
minute        40
inNums       142
outNums      241
Name: 538, dtype: object
stationID      3
clock         17
minute        50
inNums       109
outNums      245
Name: 539, dtype: object
stationID      3
clock         18
minute         0
inNums       112
outNums      293
Name: 540, dtype: object
stationID      3
clock         18
minute        10
inNums       117
outNums      241
Name: 541, dtype: object
stationID      3
clock         18
minute        20
inNums       113
outNums      290
Name: 542, dtype: object
stationID      3
clock         18
minute        30
inNums       104
outNums      207
Name: 543, dtype: object
stationID      3
clock         18
minute        40
inNums        72
outNums      201
Name: 544, dtype: object
stationID      3
clock         18
minute        50
inNums       113
outNums      210
Name: 545, dtype: object
stationID      3
clock         19
minute         0
inNums        86
outNums      212
Name: 546, dtype: object
stationID      3
clock         19
minute        10
inNums       106
outNums      201
Name: 547, dtype: object

stationID      3
clock         19
minute        20
inNums        79
outNums      207
Name: 548, dtype: object
stationID      3
clock         19
minute        30
inNums        61
outNums      212
Name: 549, dtype: object
stationID      3
clock         19
minute        40
inNums        64
outNums      173
Name: 550, dtype: object
stationID      3
clock         19
minute        50
inNums        52
outNums      250
Name: 551, dtype: object
stationID      3
clock         20
minute         0
inNums        65
outNums      259
Name: 552, dtype: object
stationID      3
clock         20
minute        10
inNums        82
outNums      217
Name: 553, dtype: object
stationID      3
clock         20
minute        20
inNums        75
outNums      165
Name: 554, dtype: object
stationID      3
clock         20
minute        30
inNums        49
outNums      231
Name: 555, dtype: object
stationID      3
clock         20
minute        40
inNums        51
outNums      189
Name: 556, dtype: object
stationID      3
clock         20
minute        50
inNums        57
outNums      268
Name: 557, dtype: object
stationID      3
clock         21
minute         0
inNums        68
outNums      227
Name: 558, dtype: object
stationID      3
clock         21
minute        10
inNums        39
outNums      268
Name: 559, dtype: object
stationID      3
clock         21
minute        20
inNums        41
outNums      201
Name: 560, dtype: object
stationID      3
clock         21
minute        30
inNums        32
outNums      191
Name: 561, dtype: object
stationID      3
clock         21
minute        40
inNums        34
outNums      219
Name: 562, dtype: object
stationID      3
clock         21
minute        50
inNums        29
outNums      145
Name: 563, dtype: object
stationID      3
clock         22
minute         0
inNums        32
outNums      185
Name: 564, dtype: object
stationID      3
clock         22
minute        10
inNums        39
outNums      160
Name: 565, dtype: object
stationID      3
clock         22
minute        20
inNums        20
outNums      173
Name: 566, dtype: object
stationID      3
clock         22
minute        30
inNums        30
outNums      124
Name: 567, dtype: object
stationID      3
clock         22
minute        40
inNums        15
outNums      138
Name: 568, dtype: object
stationID      3
clock         22
minute        50
inNums         4
outNums      160
Name: 569, dtype: object
stationID     3
clock        23
minute        0
inNums        6
outNums      99
Name: 570, dtype: object
stationID     3
clock        23
minute       10
inNums        1
outNums      84
Name: 571, dtype: object
stationID     3
clock        23
minute       20
inNums        0
outNums      41
Name: 572, dtype: object
stationID     3
clock        23
minute       30
inNums        1
outNums      50
Name: 573, dtype: object
stationID     3
clock        23
minute       40
inNums        0
outNums      38
Name: 574, dtype: object
stationID     3
clock        23
minute       50
inNums        0
outNums      19
Name: 575, dtype: object
stationID    4
clock        0
minute       0
inNums       0
outNums      0
Name: 576, dtype: object
stationID     4
clock         0
minute       10
inNums        0
outNums       0
Name: 577, dtype: object
stationID     4
clock         0
minute       20
inNums        0
outNums       0
Name: 578, dtype: object
stationID     4
clock         0
minute       30
inNums        0
outNums       0
Name: 579, dtype: object
stationID     4
clock         0
minute       40
inNums        0
outNums       0
Name: 580, dtype: object
stationID     4
clock         0
minute       50
inNums        0
outNums       0
Name: 581, dtype: object
stationID    4
clock        1
minute       0
inNums       0
outNums      0
Name: 582, dtype: object
stationID     4
clock         1
minute       10
inNums        0
outNums       0
Name: 583, dtype: object
stationID     4
clock         1
minute       20
inNums        0
outNums       0
Name: 584, dtype: object
stationID     4
clock         1
minute       30
inNums        0
outNums       0
Name: 585, dtype: object
stationID     4
clock         1
minute       40
inNums        0
outNums       0
Name: 586, dtype: object
stationID     4
clock         1
minute       50
inNums        0
outNums       0
Name: 587, dtype: object
stationID    4
clock        2
minute       0
inNums       0
outNums      1
Name: 588, dtype: object
stationID     4
clock         2
minute       10
inNums        0
outNums       0
Name: 589, dtype: object
stationID     4
clock         2
minute       20
inNums        0
outNums       0
Name: 590, dtype: object
stationID     4
clock         2
minute       30
inNums        0
outNums       0
Name: 591, dtype: object
stationID     4
clock         2
minute       40
inNums        0
outNums       0
Name: 592, dtype: object
stationID     4
clock         2
minute       50
inNums        0
outNums       0
Name: 593, dtype: object
stationID    4
clock        3
minute       0
inNums       0
outNums      0
Name: 594, dtype: object
stationID     4
clock         3
minute       10
inNums        0
outNums       0
Name: 595, dtype: object
stationID     4
clock         3
minute       20
inNums        0
outNums       0
Name: 596, dtype: object
stationID     4
clock         3
minute       30
inNums        0
outNums       0
Name: 597, dtype: object
stationID     4
clock         3
minute       40
inNums        0
outNums       0
Name: 598, dtype: object
stationID     4
clock         3
minute       50
inNums        1
outNums       0
Name: 599, dtype: object
stationID    4
clock        4
minute       0
inNums       1
outNums      1
Name: 600, dtype: object
stationID     4
clock         4
minute       10
inNums        2
outNums       1
Name: 601, dtype: object
stationID     4
clock         4
minute       20
inNums        0
outNums       3
Name: 602, dtype: object
stationID     4
clock         4
minute       30
inNums        0
outNums       0
Name: 603, dtype: object
stationID     4
clock         4
minute       40
inNums        0
outNums       0
Name: 604, dtype: object
stationID     4
clock         4
minute       50
inNums        0
outNums       0
Name: 605, dtype: object
stationID    4
clock        5
minute       0
inNums       0
outNums      0
Name: 606, dtype: object
stationID     4
clock         5
minute       10
inNums        0
outNums       0
Name: 607, dtype: object
stationID     4
clock         5
minute       20
inNums        0
outNums       0
Name: 608, dtype: object
stationID     4
clock         5
minute       30
inNums        0
outNums       0
Name: 609, dtype: object
stationID     4
clock         5
minute       40
inNums        3
outNums       0
Name: 610, dtype: object
stationID     4
clock         5
minute       50
inNums       16
outNums       0
Name: 611, dtype: object
stationID     4
clock         6
minute        0
inNums       39
outNums       3
Name: 612, dtype: object
stationID     4
clock         6
minute       10
inNums       14
outNums       0
Name: 613, dtype: object
stationID     4
clock         6
minute       20
inNums       30
outNums      47
Name: 614, dtype: object
stationID     4
clock         6
minute       30
inNums       36
outNums      57
Name: 615, dtype: object
stationID     4
clock         6
minute       40
inNums       60
outNums      33
Name: 616, dtype: object
stationID     4
clock         6
minute       50
inNums       51
outNums      42
Name: 617, dtype: object
stationID     4
clock         7
minute        0
inNums       53
outNums      38
Name: 618, dtype: object
stationID     4
clock         7
minute       10
inNums       69
outNums      61
Name: 619, dtype: object
stationID     4
clock         7
minute       20
inNums       93
outNums      52
Name: 620, dtype: object
stationID     4
clock         7
minute       30
inNums       90
outNums      79
Name: 621, dtype: object
stationID      4
clock          7
minute        40
inNums       101
outNums      107
Name: 622, dtype: object
stationID      4
clock          7
minute        50
inNums       117
outNums      103
Name: 623, dtype: object
stationID      4
clock          8
minute         0
inNums        88
outNums      141
Name: 624, dtype: object
stationID      4
clock          8
minute        10
inNums       117
outNums      134
Name: 625, dtype: object
stationID      4
clock          8
minute        20
inNums       121
outNums      183
Name: 626, dtype: object
stationID      4
clock          8
minute        30
inNums       159
outNums      130
Name: 627, dtype: object

stationID      4
clock          8
minute        40
inNums       148
outNums      236
Name: 628, dtype: object
stationID      4
clock          8
minute        50
inNums       134
outNums      176
Name: 629, dtype: object
stationID      4
clock          9
minute         0
inNums       112
outNums      165
Name: 630, dtype: object
stationID      4
clock          9
minute        10
inNums       169
outNums      180
Name: 631, dtype: object
stationID      4
clock          9
minute        20
inNums       163
outNums      162
Name: 632, dtype: object
stationID      4
clock          9
minute        30
inNums       168
outNums      211
Name: 633, dtype: object
stationID      4
clock          9
minute        40
inNums       177
outNums      150
Name: 634, dtype: object
stationID      4
clock          9
minute        50
inNums       202
outNums      172
Name: 635, dtype: object
stationID      4
clock         10
minute         0
inNums       183
outNums      185
Name: 636, dtype: object
stationID      4
clock         10
minute        10
inNums       163
outNums      152
Name: 637, dtype: object
stationID      4
clock         10
minute        20
inNums       242
outNums      202
Name: 638, dtype: object
stationID      4
clock         10
minute        30
inNums       244
outNums      200
Name: 639, dtype: object
stationID      4
clock         10
minute        40
inNums       241
outNums      182
Name: 640, dtype: object
stationID      4
clock         10
minute        50
inNums       290
outNums      171
Name: 641, dtype: object
stationID      4
clock         11
minute         0
inNums       208
outNums      189
Name: 642, dtype: object
stationID      4
clock         11
minute        10
inNums       209
outNums      215
Name: 643, dtype: object
stationID      4
clock         11
minute        20
inNums       250
outNums      192
Name: 644, dtype: object
stationID      4
clock         11
minute        30
inNums       255
outNums      198
Name: 645, dtype: object
stationID      4
clock         11
minute        40
inNums       230
outNums      225
Name: 646, dtype: object
stationID      4
clock         11
minute        50
inNums       268
outNums      177
Name: 647, dtype: object
stationID      4
clock         12
minute         0
inNums       246
outNums      198
Name: 648, dtype: object
stationID      4
clock         12
minute        10
inNums       250
outNums      206
Name: 649, dtype: object
stationID      4
clock         12
minute        20
inNums       257
outNums      206
Name: 650, dtype: object
stationID      4
clock         12
minute        30
inNums       293
outNums      174
Name: 651, dtype: object
stationID      4
clock         12
minute        40
inNums       303
outNums      275
Name: 652, dtype: object
stationID      4
clock         12
minute        50
inNums       335
outNums      185
Name: 653, dtype: object
stationID      4
clock         13
minute         0
inNums       291
outNums      276
Name: 654, dtype: object
stationID      4
clock         13
minute        10
inNums       299
outNums      225
Name: 655, dtype: object
stationID      4
clock         13
minute        20
inNums       285
outNums      228
Name: 656, dtype: object
stationID      4
clock         13
minute        30
inNums       264
outNums      243
Name: 657, dtype: object
stationID      4
clock         13
minute        40
inNums       325
outNums      245
Name: 658, dtype: object
stationID      4
clock         13
minute        50
inNums       311
outNums      267
Name: 659, dtype: object
stationID      4
clock         14
minute         0
inNums       319
outNums      200
Name: 660, dtype: object
stationID      4
clock         14
minute        10
inNums       345
outNums      275
Name: 661, dtype: object
stationID      4
clock         14
minute        20
inNums       360
outNums      267
Name: 662, dtype: object
stationID      4
clock         14
minute        30
inNums       333
outNums      310
Name: 663, dtype: object
stationID      4
clock         14
minute        40
inNums       322
outNums      247
Name: 664, dtype: object
stationID      4
clock         14
minute        50
inNums       337
outNums      296
Name: 665, dtype: object
stationID      4
clock         15
minute         0
inNums       285
outNums      280
Name: 666, dtype: object
stationID      4
clock         15
minute        10
inNums       334
outNums      264
Name: 667, dtype: object
stationID      4
clock         15
minute        20
inNums       329
outNums      331
Name: 668, dtype: object
stationID      4
clock         15
minute        30
inNums       289
outNums      305
Name: 669, dtype: object
stationID      4
clock         15
minute        40
inNums       348
outNums      367
Name: 670, dtype: object
stationID      4
clock         15
minute        50
inNums       348
outNums      315
Name: 671, dtype: object
stationID      4
clock         16
minute         0
inNums       301
outNums      387
Name: 672, dtype: object
stationID      4
clock         16
minute        10
inNums       337
outNums      344
Name: 673, dtype: object
stationID      4
clock         16
minute        20
inNums       349
outNums      343
Name: 674, dtype: object
stationID      4
clock         16
minute        30
inNums       273
outNums      356
Name: 675, dtype: object
stationID      4
clock         16
minute        40
inNums       255
outNums      388
Name: 676, dtype: object
stationID      4
clock         16
minute        50
inNums       316
outNums      319
Name: 677, dtype: object
stationID      4
clock         17
minute         0
inNums       314
outNums      420
Name: 678, dtype: object
stationID      4
clock         17
minute        10
inNums       344
outNums      349
Name: 679, dtype: object
stationID      4
clock         17
minute        20
inNums       326
outNums      394
Name: 680, dtype: object
stationID      4
clock         17
minute        30
inNums       275
outNums      350
Name: 681, dtype: object
stationID      4
clock         17
minute        40
inNums       317
outNums      360
Name: 682, dtype: object
stationID      4
clock         17
minute        50
inNums       264
outNums      385
Name: 683, dtype: object
stationID      4
clock         18
minute         0
inNums       291
outNums      432
Name: 684, dtype: object
stationID      4
clock         18
minute        10
inNums       261
outNums      352
Name: 685, dtype: object
stationID      4
clock         18
minute        20
inNums       282
outNums      330
Name: 686, dtype: object
stationID      4
clock         18
minute        30
inNums       258
outNums      394
Name: 687, dtype: object
stationID      4
clock         18
minute        40
inNums       246
outNums      332
Name: 688, dtype: object
stationID      4
clock         18
minute        50
inNums       202
outNums      294
Name: 689, dtype: object
stationID      4
clock         19
minute         0
inNums       228
outNums      297
Name: 690, dtype: object
stationID      4
clock         19
minute        10
inNums       202
outNums      248
Name: 691, dtype: object
stationID      4
clock         19
minute        20
inNums       193
outNums      243
Name: 692, dtype: object
stationID      4
clock         19
minute        30
inNums       198
outNums      269
Name: 693, dtype: object
stationID      4
clock         19
minute        40
inNums       196
outNums      295
Name: 694, dtype: object
stationID      4
clock         19
minute        50
inNums       203
outNums      270
Name: 695, dtype: object
stationID      4
clock         20
minute         0
inNums       202
outNums      271
Name: 696, dtype: object
stationID      4
clock         20
minute        10
inNums       204
outNums      278
Name: 697, dtype: object
stationID      4
clock         20
minute        20
inNums       204
outNums      353
Name: 698, dtype: object
stationID      4
clock         20
minute        30
inNums       198
outNums      268
Name: 699, dtype: object
stationID      4
clock         20
minute        40
inNums       177
outNums      305
Name: 700, dtype: object
stationID      4
clock         20
minute        50
inNums       182
outNums      239
Name: 701, dtype: object
stationID      4
clock         21
minute         0
inNums       197
outNums      352
Name: 702, dtype: object

stationID      4
clock         21
minute        10
inNums       166
outNums      254
Name: 703, dtype: object
stationID      4
clock         21
minute        20
inNums       169
outNums      297
Name: 704, dtype: object
stationID      4
clock         21
minute        30
inNums       161
outNums      199
Name: 705, dtype: object
stationID      4
clock         21
minute        40
inNums       145
outNums      200
Name: 706, dtype: object
stationID      4
clock         21
minute        50
inNums       111
outNums      222
Name: 707, dtype: object
stationID      4
clock         22
minute         0
inNums        82
outNums      141
Name: 708, dtype: object
stationID      4
clock         22
minute        10
inNums       112
outNums      217
Name: 709, dtype: object
stationID      4
clock         22
minute        20
inNums       115
outNums      203
Name: 710, dtype: object
stationID      4
clock         22
minute        30
inNums       102
outNums      143
Name: 711, dtype: object
stationID      4
clock         22
minute        40
inNums        57
outNums      165
Name: 712, dtype: object
stationID      4
clock         22
minute        50
inNums        23
outNums      182
Name: 713, dtype: object
stationID      4
clock         23
minute         0
inNums        17
outNums      112
Name: 714, dtype: object
stationID      4
clock         23
minute        10
inNums         7
outNums      100
Name: 715, dtype: object
stationID     4
clock        23
minute       20
inNums        5
outNums      94
Name: 716, dtype: object
stationID     4
clock        23
minute       30
inNums        6
outNums      52
Name: 717, dtype: object
stationID     4
clock        23
minute       40
inNums        4
outNums      55
Name: 718, dtype: object
stationID     4
clock        23
minute       50
inNums        1
outNums      22
Name: 719, dtype: object
stationID    5
clock        0
minute       0
inNums       0
outNums      0
Name: 720, dtype: object
stationID     5
clock         0
minute       10
inNums        0
outNums       0
Name: 721, dtype: object
stationID     5
clock         0
minute       20
inNums        0
outNums       0
Name: 722, dtype: object
stationID     5
clock         0
minute       30
inNums        0
outNums       0
Name: 723, dtype: object
stationID     5
clock         0
minute       40
inNums        0
outNums       0
Name: 724, dtype: object
stationID     5
clock         0
minute       50
inNums        0
outNums       0
Name: 725, dtype: object
stationID    5
clock        1
minute       0
inNums       0
outNums      0
Name: 726, dtype: object
stationID     5
clock         1
minute       10
inNums        0
outNums       0
Name: 727, dtype: object
stationID     5
clock         1
minute       20
inNums        0
outNums       0
Name: 728, dtype: object
stationID     5
clock         1
minute       30
inNums        0
outNums       0
Name: 729, dtype: object
stationID     5
clock         1
minute       40
inNums        0
outNums       0
Name: 730, dtype: object
stationID     5
clock         1
minute       50
inNums        0
outNums       0
Name: 731, dtype: object
stationID    5
clock        2
minute       0
inNums       2
outNums      3
Name: 732, dtype: object
stationID     5
clock         2
minute       10
inNums        0
outNums       0
Name: 733, dtype: object
stationID     5
clock         2
minute       20
inNums        0
outNums       0
Name: 734, dtype: object
stationID     5
clock         2
minute       30
inNums        0
outNums       0
Name: 735, dtype: object
stationID     5
clock         2
minute       40
inNums        2
outNums       0
Name: 736, dtype: object
stationID     5
clock         2
minute       50
inNums        0
outNums       0
Name: 737, dtype: object
stationID    5
clock        3
minute       0
inNums       0
outNums      0
Name: 738, dtype: object
stationID     5
clock         3
minute       10
inNums        1
outNums       1
Name: 739, dtype: object
stationID     5
clock         3
minute       20
inNums        0
outNums       0
Name: 740, dtype: object
stationID     5
clock         3
minute       30
inNums        0
outNums       0
Name: 741, dtype: object
stationID     5
clock         3
minute       40
inNums        0
outNums       0
Name: 742, dtype: object
stationID     5
clock         3
minute       50
inNums        2
outNums       2
Name: 743, dtype: object
stationID    5
clock        4
minute       0
inNums       0
outNums      0
Name: 744, dtype: object
stationID     5
clock         4
minute       10
inNums        3
outNums       2
Name: 745, dtype: object
stationID     5
clock         4
minute       20
inNums        2
outNums       0
Name: 746, dtype: object
stationID     5
clock         4
minute       30
inNums        2
outNums       6
Name: 747, dtype: object
stationID     5
clock         4
minute       40
inNums        0
outNums       2
Name: 748, dtype: object
stationID     5
clock         4
minute       50
inNums        0
outNums       0
Name: 749, dtype: object
stationID    5
clock        5
minute       0
inNums       0
outNums      0
Name: 750, dtype: object
stationID     5
clock         5
minute       10
inNums        0
outNums       0
Name: 751, dtype: object
stationID     5
clock         5
minute       20
inNums        1
outNums       0
Name: 752, dtype: object
stationID     5
clock         5
minute       30
inNums        2
outNums       3
Name: 753, dtype: object
stationID     5
clock         5
minute       40
inNums        2
outNums       0
Name: 754, dtype: object
stationID     5
clock         5
minute       50
inNums       22
outNums       0
Name: 755, dtype: object
stationID     5
clock         6
minute        0
inNums       21
outNums       4
Name: 756, dtype: object
stationID     5
clock         6
minute       10
inNums       13
outNums       3
Name: 757, dtype: object
stationID     5
clock         6
minute       20
inNums       25
outNums      20
Name: 758, dtype: object
stationID     5
clock         6
minute       30
inNums       20
outNums      11
Name: 759, dtype: object
stationID     5
clock         6
minute       40
inNums       36
outNums      19
Name: 760, dtype: object
stationID     5
clock         6
minute       50
inNums       36
outNums      16
Name: 761, dtype: object
stationID     5
clock         7
minute        0
inNums       41
outNums      27
Name: 762, dtype: object
stationID     5
clock         7
minute       10
inNums       50
outNums      40
Name: 763, dtype: object
stationID     5
clock         7
minute       20
inNums       64
outNums      49
Name: 764, dtype: object
stationID     5
clock         7
minute       30
inNums       62
outNums      62
Name: 765, dtype: object
stationID     5
clock         7
minute       40
inNums       80
outNums      88
Name: 766, dtype: object
stationID     5
clock         7
minute       50
inNums       68
outNums      78
Name: 767, dtype: object
stationID     5
clock         8
minute        0
inNums       81
outNums      62
Name: 768, dtype: object
stationID     5
clock         8
minute       10
inNums       85
outNums      72
Name: 769, dtype: object
stationID      5
clock          8
minute        20
inNums        89
outNums      117
Name: 770, dtype: object
stationID      5
clock          8
minute        30
inNums       113
outNums      107
Name: 771, dtype: object
stationID      5
clock          8
minute        40
inNums        99
outNums      123
Name: 772, dtype: object
stationID      5
clock          8
minute        50
inNums       123
outNums       96
Name: 773, dtype: object
stationID      5
clock          9
minute         0
inNums       118
outNums       82
Name: 774, dtype: object
stationID      5
clock          9
minute        10
inNums       139
outNums       92
Name: 775, dtype: object
stationID      5
clock          9
minute        20
inNums       116
outNums       93
Name: 776, dtype: object
stationID      5
clock          9
minute        30
inNums       124
outNums       96
Name: 777, dtype: object
stationID      5
clock          9
minute        40
inNums       129
outNums      100
Name: 778, dtype: object
stationID      5
clock          9
minute        50
inNums       159
outNums      113
Name: 779, dtype: object
stationID      5
clock         10
minute         0
inNums       166
outNums       82
Name: 780, dtype: object
stationID      5
clock         10
minute        10
inNums       205
outNums       68
Name: 781, dtype: object
stationID      5
clock         10
minute        20
inNums       139
outNums       82
Name: 782, dtype: object

stationID      5
clock         10
minute        30
inNums       178
outNums      117
Name: 783, dtype: object
stationID      5
clock         10
minute        40
inNums       155
outNums       97
Name: 784, dtype: object
stationID      5
clock         10
minute        50
inNums       144
outNums      104
Name: 785, dtype: object
stationID      5
clock         11
minute         0
inNums       105
outNums      135
Name: 786, dtype: object
stationID      5
clock         11
minute        10
inNums       147
outNums      100
Name: 787, dtype: object
stationID      5
clock         11
minute        20
inNums       130
outNums       70
Name: 788, dtype: object
stationID      5
clock         11
minute        30
inNums       136
outNums      120
Name: 789, dtype: object
stationID      5
clock         11
minute        40
inNums       134
outNums      136
Name: 790, dtype: object
stationID      5
clock         11
minute        50
inNums       134
outNums      121
Name: 791, dtype: object
stationID      5
clock         12
minute         0
inNums       154
outNums       92
Name: 792, dtype: object
stationID      5
clock         12
minute        10
inNums       159
outNums      125
Name: 793, dtype: object
stationID      5
clock         12
minute        20
inNums       130
outNums      122
Name: 794, dtype: object
stationID      5
clock         12
minute        30
inNums       170
outNums      124
Name: 795, dtype: object
stationID      5
clock         12
minute        40
inNums       122
outNums       85
Name: 796, dtype: object
stationID      5
clock         12
minute        50
inNums       150
outNums      143
Name: 797, dtype: object
stationID      5
clock         13
minute         0
inNums       168
outNums      145
Name: 798, dtype: object
stationID      5
clock         13
minute        10
inNums       175
outNums      118
Name: 799, dtype: object
stationID      5
clock         13
minute        20
inNums       153
outNums       97
Name: 800, dtype: object
stationID      5
clock         13
minute        30
inNums       173
outNums      152
Name: 801, dtype: object
stationID      5
clock         13
minute        40
inNums       190
outNums      160
Name: 802, dtype: object
stationID      5
clock         13
minute        50
inNums       162
outNums      141
Name: 803, dtype: object
stationID      5
clock         14
minute         0
inNums       202
outNums      136
Name: 804, dtype: object
stationID      5
clock         14
minute        10
inNums       159
outNums      188
Name: 805, dtype: object
stationID      5
clock         14
minute        20
inNums       157
outNums      163
Name: 806, dtype: object
stationID      5
clock         14
minute        30
inNums       184
outNums      142
Name: 807, dtype: object
stationID      5
clock         14
minute        40
inNums       176
outNums      109
Name: 808, dtype: object
stationID      5
clock         14
minute        50
inNums       164
outNums      150
Name: 809, dtype: object
stationID      5
clock         15
minute         0
inNums       144
outNums      129
Name: 810, dtype: object
stationID      5
clock         15
minute        10
inNums       170
outNums      170
Name: 811, dtype: object
stationID      5
clock         15
minute        20
inNums       174
outNums      142
Name: 812, dtype: object
stationID      5
clock         15
minute        30
inNums       169
outNums      165
Name: 813, dtype: object
stationID      5
clock         15
minute        40
inNums       155
outNums      159
Name: 814, dtype: object
stationID      5
clock         15
minute        50
inNums       168
outNums      180
Name: 815, dtype: object
stationID      5
clock         16
minute         0
inNums       139
outNums      126
Name: 816, dtype: object
stationID      5
clock         16
minute        10
inNums       144
outNums      169
Name: 817, dtype: object
stationID      5
clock         16
minute        20
inNums       165
outNums      172
Name: 818, dtype: object
stationID      5
clock         16
minute        30
inNums       126
outNums      190
Name: 819, dtype: object
stationID      5
clock         16
minute        40
inNums       177
outNums      146
Name: 820, dtype: object
stationID      5
clock         16
minute        50
inNums       152
outNums      233
Name: 821, dtype: object
stationID      5
clock         17
minute         0
inNums       142
outNums      183
Name: 822, dtype: object
stationID      5
clock         17
minute        10
inNums       185
outNums      205
Name: 823, dtype: object
stationID      5
clock         17
minute        20
inNums       185
outNums      192
Name: 824, dtype: object
stationID      5
clock         17
minute        30
inNums       191
outNums      173
Name: 825, dtype: object
stationID      5
clock         17
minute        40
inNums       196
outNums      177
Name: 826, dtype: object
stationID      5
clock         17
minute        50
inNums       149
outNums      177
Name: 827, dtype: object
stationID      5
clock         18
minute         0
inNums       154
outNums      143
Name: 828, dtype: object
stationID      5
clock         18
minute        10
inNums       148
outNums      157
Name: 829, dtype: object
stationID      5
clock         18
minute        20
inNums       147
outNums      153
Name: 830, dtype: object
stationID      5
clock         18
minute        30
inNums       148
outNums      152
Name: 831, dtype: object
stationID      5
clock         18
minute        40
inNums       141
outNums      118
Name: 832, dtype: object
stationID      5
clock         18
minute        50
inNums       123
outNums      128
Name: 833, dtype: object
stationID      5
clock         19
minute         0
inNums       146
outNums      103
Name: 834, dtype: object
stationID      5
clock         19
minute        10
inNums       110
outNums      113
Name: 835, dtype: object
stationID      5
clock         19
minute        20
inNums       111
outNums      102
Name: 836, dtype: object
stationID      5
clock         19
minute        30
inNums       113
outNums      105
Name: 837, dtype: object
stationID      5
clock         19
minute        40
inNums       100
outNums      115
Name: 838, dtype: object
stationID      5
clock         19
minute        50
inNums       109
outNums      153
Name: 839, dtype: object
stationID      5
clock         20
minute         0
inNums       106
outNums      128
Name: 840, dtype: object
stationID      5
clock         20
minute        10
inNums        97
outNums      106
Name: 841, dtype: object
stationID      5
clock         20
minute        20
inNums       103
outNums      128
Name: 842, dtype: object
stationID      5
clock         20
minute        30
inNums       140
outNums      166
Name: 843, dtype: object
stationID      5
clock         20
minute        40
inNums        76
outNums      161
Name: 844, dtype: object
stationID      5
clock         20
minute        50
inNums        83
outNums      126
Name: 845, dtype: object
stationID      5
clock         21
minute         0
inNums        78
outNums      187
Name: 846, dtype: object
stationID      5
clock         21
minute        10
inNums        86
outNums      114
Name: 847, dtype: object
stationID      5
clock         21
minute        20
inNums        68
outNums      113
Name: 848, dtype: object
stationID     5
clock        21
minute       30
inNums       75
outNums      89
Name: 849, dtype: object
stationID     5
clock        21
minute       40
inNums       52
outNums      96
Name: 850, dtype: object
stationID      5
clock         21
minute        50
inNums        29
outNums      102
Name: 851, dtype: object
stationID     5
clock        22
minute        0
inNums       54
outNums      84
Name: 852, dtype: object
stationID      5
clock         22
minute        10
inNums        47
outNums      102
Name: 853, dtype: object
stationID     5
clock        22
minute       20
inNums       30
outNums      70
Name: 854, dtype: object
stationID     5
clock        22
minute       30
inNums       23
outNums      61
Name: 855, dtype: object
stationID     5
clock        22
minute       40
inNums       29
outNums      51
Name: 856, dtype: object
stationID     5
clock        22
minute       50
inNums       13
outNums      81
Name: 857, dtype: object

stationID     5
clock        23
minute        0
inNums        7
outNums      33
Name: 858, dtype: object
stationID     5
clock        23
minute       10
inNums        5
outNums      34
Name: 859, dtype: object
stationID     5
clock        23
minute       20
inNums        4
outNums      14
Name: 860, dtype: object
stationID     5
clock        23
minute       30
inNums        1
outNums      15
Name: 861, dtype: object
stationID     5
clock        23
minute       40
inNums        0
outNums       3
Name: 862, dtype: object
stationID     5
clock        23
minute       50
inNums        0
outNums      23
Name: 863, dtype: object
stationID    6
clock        0
minute       0
inNums       0
outNums      0
Name: 864, dtype: object
stationID     6
clock         0
minute       10
inNums        0
outNums       0
Name: 865, dtype: object
stationID     6
clock         0
minute       20
inNums        0
outNums       0
Name: 866, dtype: object
stationID     6
clock         0
minute       30
inNums        0
outNums       0
Name: 867, dtype: object
stationID     6
clock         0
minute       40
inNums        0
outNums       0
Name: 868, dtype: object
stationID     6
clock         0
minute       50
inNums        0
outNums       0
Name: 869, dtype: object
stationID    6
clock        1
minute       0
inNums       0
outNums      0
Name: 870, dtype: object
stationID     6
clock         1
minute       10
inNums        0
outNums       0
Name: 871, dtype: object
stationID     6
clock         1
minute       20
inNums        0
outNums       0
Name: 872, dtype: object
stationID     6
clock         1
minute       30
inNums        0
outNums       0
Name: 873, dtype: object
stationID     6
clock         1
minute       40
inNums        0
outNums       0
Name: 874, dtype: object
stationID     6
clock         1
minute       50
inNums        0
outNums       0
Name: 875, dtype: object
stationID    6
clock        2
minute       0
inNums       0
outNums      0
Name: 876, dtype: object
stationID     6
clock         2
minute       10
inNums        1
outNums       0
Name: 877, dtype: object
stationID     6
clock         2
minute       20
inNums        0
outNums       1
Name: 878, dtype: object
stationID     6
clock         2
minute       30
inNums        0
outNums       0
Name: 879, dtype: object
stationID     6
clock         2
minute       40
inNums        0
outNums       0
Name: 880, dtype: object
stationID     6
clock         2
minute       50
inNums        0
outNums       0
Name: 881, dtype: object
stationID    6
clock        3
minute       0
inNums       0
outNums      0
Name: 882, dtype: object
stationID     6
clock         3
minute       10
inNums        0
outNums       0
Name: 883, dtype: object
stationID     6
clock         3
minute       20
inNums        0
outNums       0
Name: 884, dtype: object
stationID     6
clock         3
minute       30
inNums        0
outNums       0
Name: 885, dtype: object
stationID     6
clock         3
minute       40
inNums        0
outNums       0
Name: 886, dtype: object
stationID     6
clock         3
minute       50
inNums        0
outNums       0
Name: 887, dtype: object
stationID    6
clock        4
minute       0
inNums       0
outNums      0
Name: 888, dtype: object
stationID     6
clock         4
minute       10
inNums        0
outNums       0
Name: 889, dtype: object
stationID     6
clock         4
minute       20
inNums        0
outNums       0
Name: 890, dtype: object
stationID     6
clock         4
minute       30
inNums        0
outNums       0
Name: 891, dtype: object
stationID     6
clock         4
minute       40
inNums        0
outNums       0
Name: 892, dtype: object
stationID     6
clock         4
minute       50
inNums        0
outNums       0
Name: 893, dtype: object
stationID    6
clock        5
minute       0
inNums       0
outNums      0
Name: 894, dtype: object
stationID     6
clock         5
minute       10
inNums        0
outNums       0
Name: 895, dtype: object
stationID     6
clock         5
minute       20
inNums        0
outNums       0
Name: 896, dtype: object
stationID     6
clock         5
minute       30
inNums        0
outNums       0
Name: 897, dtype: object
stationID     6
clock         5
minute       40
inNums        2
outNums       0
Name: 898, dtype: object
stationID     6
clock         5
minute       50
inNums        4
outNums       0
Name: 899, dtype: object
stationID     6
clock         6
minute        0
inNums       20
outNums       0
Name: 900, dtype: object
stationID     6
clock         6
minute       10
inNums        9
outNums      23
Name: 901, dtype: object
stationID     6
clock         6
minute       20
inNums       14
outNums      18
Name: 902, dtype: object
stationID     6
clock         6
minute       30
inNums       15
outNums      20
Name: 903, dtype: object
stationID     6
clock         6
minute       40
inNums       27
outNums      43
Name: 904, dtype: object
stationID     6
clock         6
minute       50
inNums       26
outNums      27
Name: 905, dtype: object
stationID     6
clock         7
minute        0
inNums       33
outNums      25
Name: 906, dtype: object
stationID     6
clock         7
minute       10
inNums       39
outNums      35
Name: 907, dtype: object
stationID     6
clock         7
minute       20
inNums       46
outNums      34
Name: 908, dtype: object
stationID     6
clock         7
minute       30
inNums       64
outNums      42
Name: 909, dtype: object
stationID     6
clock         7
minute       40
inNums       75
outNums      44
Name: 910, dtype: object
stationID     6
clock         7
minute       50
inNums       59
outNums      84
Name: 911, dtype: object
stationID     6
clock         8
minute        0
inNums       55
outNums      48
Name: 912, dtype: object
stationID     6
clock         8
minute       10
inNums       74
outNums      64
Name: 913, dtype: object
stationID     6
clock         8
minute       20
inNums       73
outNums      57
Name: 914, dtype: object
stationID      6
clock          8
minute        30
inNums       116
outNums       97
Name: 915, dtype: object
stationID      6
clock          8
minute        40
inNums       131
outNums       72
Name: 916, dtype: object
stationID     6
clock         8
minute       50
inNums       82
outNums      80
Name: 917, dtype: object
stationID      6
clock          9
minute         0
inNums       116
outNums       77
Name: 918, dtype: object
stationID      6
clock          9
minute        10
inNums       107
outNums       78
Name: 919, dtype: object
stationID      6
clock          9
minute        20
inNums       106
outNums       76
Name: 920, dtype: object
stationID      6
clock          9
minute        30
inNums       137
outNums       80
Name: 921, dtype: object
stationID      6
clock          9
minute        40
inNums       136
outNums       77
Name: 922, dtype: object
stationID      6
clock          9
minute        50
inNums       144
outNums       78
Name: 923, dtype: object
stationID      6
clock         10
minute         0
inNums       149
outNums       70
Name: 924, dtype: object
stationID      6
clock         10
minute        10
inNums       166
outNums      128
Name: 925, dtype: object
stationID      6
clock         10
minute        20
inNums       140
outNums       86
Name: 926, dtype: object
stationID      6
clock         10
minute        30
inNums       135
outNums       72
Name: 927, dtype: object
stationID      6
clock         10
minute        40
inNums       162
outNums       91
Name: 928, dtype: object
stationID      6
clock         10
minute        50
inNums       139
outNums      109
Name: 929, dtype: object
stationID      6
clock         11
minute         0
inNums       146
outNums       76
Name: 930, dtype: object
stationID      6
clock         11
minute        10
inNums       150
outNums      100
Name: 931, dtype: object
stationID      6
clock         11
minute        20
inNums       179
outNums       92
Name: 932, dtype: object
stationID      6
clock         11
minute        30
inNums       137
outNums      101
Name: 933, dtype: object
stationID      6
clock         11
minute        40
inNums       151
outNums       89
Name: 934, dtype: object
stationID      6
clock         11
minute        50
inNums       216
outNums       59
Name: 935, dtype: object

stationID      6
clock         12
minute         0
inNums       190
outNums       80
Name: 936, dtype: object
stationID      6
clock         12
minute        10
inNums       181
outNums      141
Name: 937, dtype: object
stationID      6
clock         12
minute        20
inNums       174
outNums      116
Name: 938, dtype: object
stationID      6
clock         12
minute        30
inNums       143
outNums      170
Name: 939, dtype: object
stationID      6
clock         12
minute        40
inNums       185
outNums      115
Name: 940, dtype: object
stationID      6
clock         12
minute        50
inNums       179
outNums      119
Name: 941, dtype: object
stationID      6
clock         13
minute         0
inNums       210
outNums      124
Name: 942, dtype: object
stationID      6
clock         13
minute        10
inNums       201
outNums      187
Name: 943, dtype: object
stationID      6
clock         13
minute        20
inNums       225
outNums      126
Name: 944, dtype: object
stationID      6
clock         13
minute        30
inNums       195
outNums      132
Name: 945, dtype: object
stationID      6
clock         13
minute        40
inNums       149
outNums      149
Name: 946, dtype: object
stationID      6
clock         13
minute        50
inNums       182
outNums      187
Name: 947, dtype: object
stationID      6
clock         14
minute         0
inNums       253
outNums      166
Name: 948, dtype: object
stationID      6
clock         14
minute        10
inNums       258
outNums      186
Name: 949, dtype: object
stationID      6
clock         14
minute        20
inNums       227
outNums      209
Name: 950, dtype: object
stationID      6
clock         14
minute        30
inNums       243
outNums      191
Name: 951, dtype: object
stationID      6
clock         14
minute        40
inNums       303
outNums      166
Name: 952, dtype: object
stationID      6
clock         14
minute        50
inNums       258
outNums      156
Name: 953, dtype: object
stationID      6
clock         15
minute         0
inNums       277
outNums      150
Name: 954, dtype: object
stationID      6
clock         15
minute        10
inNums       274
outNums      163
Name: 955, dtype: object
stationID      6
clock         15
minute        20
inNums       224
outNums      112
Name: 956, dtype: object
stationID      6
clock         15
minute        30
inNums       384
outNums      182
Name: 957, dtype: object
stationID      6
clock         15
minute        40
inNums       302
outNums      175
Name: 958, dtype: object
stationID      6
clock         15
minute        50
inNums       276
outNums      154
Name: 959, dtype: object
stationID      6
clock         16
minute         0
inNums       245
outNums      153
Name: 960, dtype: object
stationID      6
clock         16
minute        10
inNums       399
outNums      171
Name: 961, dtype: object
stationID      6
clock         16
minute        20
inNums       315
outNums      161
Name: 962, dtype: object
stationID      6
clock         16
minute        30
inNums       325
outNums      156
Name: 963, dtype: object
stationID      6
clock         16
minute        40
inNums       303
outNums      162
Name: 964, dtype: object
stationID      6
clock         16
minute        50
inNums       302
outNums      153
Name: 965, dtype: object
stationID      6
clock         17
minute         0
inNums       269
outNums      116
Name: 966, dtype: object
stationID      6
clock         17
minute        10
inNums       267
outNums      193
Name: 967, dtype: object
stationID      6
clock         17
minute        20
inNums       390
outNums      127
Name: 968, dtype: object
stationID      6
clock         17
minute        30
inNums       289
outNums      151
Name: 969, dtype: object
stationID      6
clock         17
minute        40
inNums       377
outNums      102
Name: 970, dtype: object
stationID      6
clock         17
minute        50
inNums       297
outNums      126
Name: 971, dtype: object
stationID      6
clock         18
minute         0
inNums       258
outNums      148
Name: 972, dtype: object
stationID      6
clock         18
minute        10
inNums       207
outNums      104
Name: 973, dtype: object
stationID      6
clock         18
minute        20
inNums       266
outNums      109
Name: 974, dtype: object
stationID      6
clock         18
minute        30
inNums       198
outNums      114
Name: 975, dtype: object
stationID      6
clock         18
minute        40
inNums       272
outNums      116
Name: 976, dtype: object
stationID      6
clock         18
minute        50
inNums       156
outNums       96
Name: 977, dtype: object
stationID      6
clock         19
minute         0
inNums       230
outNums      103
Name: 978, dtype: object
stationID      6
clock         19
minute        10
inNums       219
outNums      105
Name: 979, dtype: object
stationID      6
clock         19
minute        20
inNums       140
outNums       67
Name: 980, dtype: object
stationID      6
clock         19
minute        30
inNums       135
outNums       58
Name: 981, dtype: object
stationID      6
clock         19
minute        40
inNums       132
outNums       97
Name: 982, dtype: object
stationID      6
clock         19
minute        50
inNums       167
outNums       89
Name: 983, dtype: object
stationID      6
clock         20
minute         0
inNums       140
outNums       96
Name: 984, dtype: object
stationID     6
clock        20
minute       10
inNums       96
outNums      74
Name: 985, dtype: object
stationID     6
clock        20
minute       20
inNums       92
outNums      76
Name: 986, dtype: object
stationID      6
clock         20
minute        30
inNums        82
outNums      131
Name: 987, dtype: object
stationID     6
clock        20
minute       40
inNums       73
outNums      93
Name: 988, dtype: object
stationID      6
clock         20
minute        50
inNums        67
outNums      110
Name: 989, dtype: object
stationID     6
clock        21
minute        0
inNums       48
outNums      86
Name: 990, dtype: object
stationID      6
clock         21
minute        10
inNums       102
outNums       90
Name: 991, dtype: object
stationID     6
clock        21
minute       20
inNums       26
outNums      95
Name: 992, dtype: object
stationID     6
clock        21
minute       30
inNums       27
outNums      74
Name: 993, dtype: object
stationID     6
clock        21
minute       40
inNums       18
outNums      86
Name: 994, dtype: object
stationID     6
clock        21
minute       50
inNums       36
outNums      72
Name: 995, dtype: object
stationID     6
clock        22
minute        0
inNums       22
outNums      81
Name: 996, dtype: object
stationID     6
clock        22
minute       10
inNums       17
outNums      90
Name: 997, dtype: object
stationID     6
clock        22
minute       20
inNums       19
outNums      65
Name: 998, dtype: object
stationID     6
clock        22
minute       30
inNums       12
outNums      51
Name: 999, dtype: object
stationID     6
clock        22
minute       40
inNums       14
outNums      83
Name: 1000, dtype: object
stationID     6
clock        22
minute       50
inNums        8
outNums      41
Name: 1001, dtype: object
stationID     6
clock        23
minute        0
inNums        7
outNums      39
Name: 1002, dtype: object
stationID     6
clock        23
minute       10
inNums        1
outNums      27
Name: 1003, dtype: object
stationID     6
clock        23
minute       20
inNums        1
outNums      30
Name: 1004, dtype: object
stationID     6
clock        23
minute       30
inNums        6
outNums      12
Name: 1005, dtype: object
stationID     6
clock        23
minute       40
inNums        0
outNums       9
Name: 1006, dtype: object
stationID     6
clock        23
minute       50
inNums        1
outNums       3
Name: 1007, dtype: object
stationID    7
clock        0
minute       0
inNums       0
outNums      0
Name: 1008, dtype: object
stationID     7
clock         0
minute       10
inNums        0
outNums       0
Name: 1009, dtype: object
stationID     7
clock         0
minute       20
inNums        0
outNums       0
Name: 1010, dtype: object
stationID     7
clock         0
minute       30
inNums        0
outNums       0
Name: 1011, dtype: object
stationID     7
clock         0
minute       40
inNums        0
outNums       0
Name: 1012, dtype: object
stationID     7
clock         0
minute       50
inNums        0
outNums       0
Name: 1013, dtype: object

stationID    7
clock        1
minute       0
inNums       0
outNums      0
Name: 1014, dtype: object
stationID     7
clock         1
minute       10
inNums        0
outNums       0
Name: 1015, dtype: object
stationID     7
clock         1
minute       20
inNums        0
outNums       0
Name: 1016, dtype: object
stationID     7
clock         1
minute       30
inNums        0
outNums       0
Name: 1017, dtype: object
stationID     7
clock         1
minute       40
inNums        0
outNums       0
Name: 1018, dtype: object
stationID     7
clock         1
minute       50
inNums        0
outNums       0
Name: 1019, dtype: object
stationID    7
clock        2
minute       0
inNums       0
outNums      0
Name: 1020, dtype: object
stationID     7
clock         2
minute       10
inNums        0
outNums       0
Name: 1021, dtype: object
stationID     7
clock         2
minute       20
inNums        0
outNums       0
Name: 1022, dtype: object
stationID     7
clock         2
minute       30
inNums        0
outNums       0
Name: 1023, dtype: object
stationID     7
clock         2
minute       40
inNums        0
outNums       0
Name: 1024, dtype: object
stationID     7
clock         2
minute       50
inNums        0
outNums       0
Name: 1025, dtype: object
stationID    7
clock        3
minute       0
inNums       0
outNums      0
Name: 1026, dtype: object
stationID     7
clock         3
minute       10
inNums        0
outNums       0
Name: 1027, dtype: object
stationID     7
clock         3
minute       20
inNums        0
outNums       0
Name: 1028, dtype: object
stationID     7
clock         3
minute       30
inNums        0
outNums       0
Name: 1029, dtype: object
stationID     7
clock         3
minute       40
inNums        0
outNums       0
Name: 1030, dtype: object
stationID     7
clock         3
minute       50
inNums        0
outNums       0
Name: 1031, dtype: object
stationID    7
clock        4
minute       0
inNums       0
outNums      0
Name: 1032, dtype: object
stationID     7
clock         4
minute       10
inNums        0
outNums       0
Name: 1033, dtype: object
stationID     7
clock         4
minute       20
inNums        0
outNums       0
Name: 1034, dtype: object
stationID     7
clock         4
minute       30
inNums        0
outNums       0
Name: 1035, dtype: object
stationID     7
clock         4
minute       40
inNums        0
outNums       0
Name: 1036, dtype: object
stationID     7
clock         4
minute       50
inNums        0
outNums       0
Name: 1037, dtype: object
stationID    7
clock        5
minute       0
inNums       0
outNums      0
Name: 1038, dtype: object
stationID     7
clock         5
minute       10
inNums        0
outNums       0
Name: 1039, dtype: object
stationID     7
clock         5
minute       20
inNums        0
outNums       0
Name: 1040, dtype: object
stationID     7
clock         5
minute       30
inNums        0
outNums       0
Name: 1041, dtype: object
stationID     7
clock         5
minute       40
inNums        0
outNums       1
Name: 1042, dtype: object
stationID     7
clock         5
minute       50
inNums       60
outNums       0
Name: 1043, dtype: object
stationID      7
clock          6
minute         0
inNums       446
outNums        0
Name: 1044, dtype: object
stationID      7
clock          6
minute        10
inNums       222
outNums       19
Name: 1045, dtype: object
stationID      7
clock          6
minute        20
inNums       258
outNums       38
Name: 1046, dtype: object
stationID      7
clock          6
minute        30
inNums       133
outNums       38
Name: 1047, dtype: object
stationID     7
clock         6
minute       40
inNums       57
outNums      69
Name: 1048, dtype: object
stationID     7
clock         6
minute       50
inNums       95
outNums      93
Name: 1049, dtype: object
stationID      7
clock          7
minute         0
inNums       222
outNums       93
Name: 1050, dtype: object
stationID      7
clock          7
minute        10
inNums        87
outNums      134
Name: 1051, dtype: object
stationID      7
clock          7
minute        20
inNums       112
outNums      209
Name: 1052, dtype: object
stationID      7
clock          7
minute        30
inNums       181
outNums      229
Name: 1053, dtype: object
stationID      7
clock          7
minute        40
inNums       151
outNums      272
Name: 1054, dtype: object
stationID      7
clock          7
minute        50
inNums       121
outNums      283
Name: 1055, dtype: object
stationID      7
clock          8
minute         0
inNums       113
outNums      233
Name: 1056, dtype: object
stationID      7
clock          8
minute        10
inNums       287
outNums      219
Name: 1057, dtype: object
stationID      7
clock          8
minute        20
inNums       294
outNums      340
Name: 1058, dtype: object
stationID      7
clock          8
minute        30
inNums       228
outNums      278
Name: 1059, dtype: object
stationID      7
clock          8
minute        40
inNums       221
outNums      501
Name: 1060, dtype: object
stationID      7
clock          8
minute        50
inNums       298
outNums      419
Name: 1061, dtype: object
stationID      7
clock          9
minute         0
inNums       268
outNums      482
Name: 1062, dtype: object
stationID      7
clock          9
minute        10
inNums       295
outNums      478
Name: 1063, dtype: object
stationID      7
clock          9
minute        20
inNums       308
outNums      528
Name: 1064, dtype: object
stationID      7
clock          9
minute        30
inNums       338
outNums      505
Name: 1065, dtype: object
stationID      7
clock          9
minute        40
inNums       299
outNums      513
Name: 1066, dtype: object
stationID      7
clock          9
minute        50
inNums       532
outNums      457
Name: 1067, dtype: object
stationID      7
clock         10
minute         0
inNums       355
outNums      488
Name: 1068, dtype: object
stationID      7
clock         10
minute        10
inNums       305
outNums      516
Name: 1069, dtype: object
stationID      7
clock         10
minute        20
inNums       320
outNums      488
Name: 1070, dtype: object
stationID      7
clock         10
minute        30
inNums       355
outNums      483
Name: 1071, dtype: object
stationID      7
clock         10
minute        40
inNums       297
outNums      546
Name: 1072, dtype: object
stationID      7
clock         10
minute        50
inNums       383
outNums      630
Name: 1073, dtype: object
stationID      7
clock         11
minute         0
inNums       446
outNums      590
Name: 1074, dtype: object
stationID      7
clock         11
minute        10
inNums       507
outNums      539
Name: 1075, dtype: object
stationID      7
clock         11
minute        20
inNums       513
outNums      581
Name: 1076, dtype: object
stationID      7
clock         11
minute        30
inNums       466
outNums      506
Name: 1077, dtype: object
stationID      7
clock         11
minute        40
inNums       411
outNums      420
Name: 1078, dtype: object
stationID      7
clock         11
minute        50
inNums       537
outNums      460
Name: 1079, dtype: object
stationID      7
clock         12
minute         0
inNums       511
outNums      442
Name: 1080, dtype: object
stationID      7
clock         12
minute        10
inNums       508
outNums      403
Name: 1081, dtype: object
stationID      7
clock         12
minute        20
inNums       386
outNums      506
Name: 1082, dtype: object
stationID      7
clock         12
minute        30
inNums       563
outNums      374
Name: 1083, dtype: object
stationID      7
clock         12
minute        40
inNums       482
outNums      511
Name: 1084, dtype: object
stationID      7
clock         12
minute        50
inNums       627
outNums      423
Name: 1085, dtype: object
stationID      7
clock         13
minute         0
inNums       693
outNums      539
Name: 1086, dtype: object
stationID      7
clock         13
minute        10
inNums       343
outNums      631
Name: 1087, dtype: object
stationID      7
clock         13
minute        20
inNums       340
outNums      652
Name: 1088, dtype: object
stationID      7
clock         13
minute        30
inNums       367
outNums      413
Name: 1089, dtype: object
stationID      7
clock         13
minute        40
inNums       672
outNums      562
Name: 1090, dtype: object
stationID      7
clock         13
minute        50
inNums       705
outNums      533
Name: 1091, dtype: object

stationID      7
clock         14
minute         0
inNums       464
outNums      463
Name: 1092, dtype: object
stationID      7
clock         14
minute        10
inNums       846
outNums      544
Name: 1093, dtype: object
stationID      7
clock         14
minute        20
inNums       541
outNums      544
Name: 1094, dtype: object
stationID      7
clock         14
minute        30
inNums       373
outNums      555
Name: 1095, dtype: object
stationID      7
clock         14
minute        40
inNums       828
outNums      555
Name: 1096, dtype: object
stationID      7
clock         14
minute        50
inNums       846
outNums      573
Name: 1097, dtype: object
stationID      7
clock         15
minute         0
inNums       423
outNums      678
Name: 1098, dtype: object
stationID      7
clock         15
minute        10
inNums       462
outNums      441
Name: 1099, dtype: object
stationID      7
clock         15
minute        20
inNums       685
outNums      631
Name: 1100, dtype: object
stationID      7
clock         15
minute        30
inNums       799
outNums      426
Name: 1101, dtype: object
stationID       7
clock          15
minute         40
inNums       1081
outNums       597
Name: 1102, dtype: object
stationID      7
clock         15
minute        50
inNums       545
outNums      475
Name: 1103, dtype: object
stationID      7
clock         16
minute         0
inNums       433
outNums      579
Name: 1104, dtype: object
stationID      7
clock         16
minute        10
inNums       728
outNums      535
Name: 1105, dtype: object
stationID      7
clock         16
minute        20
inNums       537
outNums      798
Name: 1106, dtype: object
stationID      7
clock         16
minute        30
inNums       481
outNums      719
Name: 1107, dtype: object
stationID      7
clock         16
minute        40
inNums       755
outNums      522
Name: 1108, dtype: object
stationID      7
clock         16
minute        50
inNums       595
outNums      530
Name: 1109, dtype: object
stationID      7
clock         17
minute         0
inNums       530
outNums      528
Name: 1110, dtype: object
stationID      7
clock         17
minute        10
inNums       455
outNums      478
Name: 1111, dtype: object
stationID      7
clock         17
minute        20
inNums       379
outNums      669
Name: 1112, dtype: object
stationID      7
clock         17
minute        30
inNums       360
outNums      577
Name: 1113, dtype: object
stationID      7
clock         17
minute        40
inNums       432
outNums      483
Name: 1114, dtype: object
stationID      7
clock         17
minute        50
inNums       919
outNums      521
Name: 1115, dtype: object
stationID      7
clock         18
minute         0
inNums       727
outNums      441
Name: 1116, dtype: object
stationID      7
clock         18
minute        10
inNums       537
outNums      501
Name: 1117, dtype: object
stationID      7
clock         18
minute        20
inNums       466
outNums      450
Name: 1118, dtype: object
stationID      7
clock         18
minute        30
inNums       223
outNums      507
Name: 1119, dtype: object
stationID      7
clock         18
minute        40
inNums       367
outNums      432
Name: 1120, dtype: object
stationID      7
clock         18
minute        50
inNums       718
outNums      412
Name: 1121, dtype: object
stationID      7
clock         19
minute         0
inNums       361
outNums      395
Name: 1122, dtype: object
stationID      7
clock         19
minute        10
inNums       683
outNums      414
Name: 1123, dtype: object
stationID      7
clock         19
minute        20
inNums       684
outNums      482
Name: 1124, dtype: object
stationID      7
clock         19
minute        30
inNums       827
outNums      354
Name: 1125, dtype: object
stationID       7
clock          19
minute         40
inNums       1086
outNums       344
Name: 1126, dtype: object
stationID       7
clock          19
minute         50
inNums       1078
outNums       268
Name: 1127, dtype: object
stationID      7
clock         20
minute         0
inNums       324
outNums      257
Name: 1128, dtype: object
stationID      7
clock         20
minute        10
inNums       500
outNums      217
Name: 1129, dtype: object
stationID      7
clock         20
minute        20
inNums       764
outNums      277
Name: 1130, dtype: object
stationID      7
clock         20
minute        30
inNums       946
outNums      212
Name: 1131, dtype: object
stationID      7
clock         20
minute        40
inNums       869
outNums      241
Name: 1132, dtype: object
stationID      7
clock         20
minute        50
inNums       615
outNums      205
Name: 1133, dtype: object
stationID      7
clock         21
minute         0
inNums       132
outNums      180
Name: 1134, dtype: object
stationID      7
clock         21
minute        10
inNums       133
outNums      205
Name: 1135, dtype: object
stationID      7
clock         21
minute        20
inNums       135
outNums      139
Name: 1136, dtype: object
stationID      7
clock         21
minute        30
inNums       457
outNums      227
Name: 1137, dtype: object
stationID      7
clock         21
minute        40
inNums       224
outNums      181
Name: 1138, dtype: object
stationID      7
clock         21
minute        50
inNums        57
outNums      198
Name: 1139, dtype: object
stationID      7
clock         22
minute         0
inNums       206
outNums      209
Name: 1140, dtype: object
stationID      7
clock         22
minute        10
inNums        99
outNums      116
Name: 1141, dtype: object
stationID      7
clock         22
minute        20
inNums        78
outNums      159
Name: 1142, dtype: object
stationID     7
clock        22
minute       30
inNums       76
outNums      68
Name: 1143, dtype: object
stationID      7
clock         22
minute        40
inNums       518
outNums      103
Name: 1144, dtype: object
stationID     7
clock        22
minute       50
inNums       17
outNums      72
Name: 1145, dtype: object
stationID     7
clock        23
minute        0
inNums       20
outNums      58
Name: 1146, dtype: object
stationID     7
clock        23
minute       10
inNums        8
outNums      42
Name: 1147, dtype: object
stationID     7
clock        23
minute       20
inNums        6
outNums      48
Name: 1148, dtype: object
stationID     7
clock        23
minute       30
inNums        0
outNums      23
Name: 1149, dtype: object
stationID     7
clock        23
minute       40
inNums        1
outNums      26
Name: 1150, dtype: object
stationID     7
clock        23
minute       50
inNums        1
outNums      28
Name: 1151, dtype: object
stationID    8
clock        0
minute       0
inNums       0
outNums      0
Name: 1152, dtype: object
stationID     8
clock         0
minute       10
inNums        0
outNums       0
Name: 1153, dtype: object
stationID     8
clock         0
minute       20
inNums        0
outNums       0
Name: 1154, dtype: object
stationID     8
clock         0
minute       30
inNums        0
outNums       0
Name: 1155, dtype: object
stationID     8
clock         0
minute       40
inNums        0
outNums       0
Name: 1156, dtype: object
stationID     8
clock         0
minute       50
inNums        0
outNums       0
Name: 1157, dtype: object
stationID    8
clock        1
minute       0
inNums       0
outNums      0
Name: 1158, dtype: object
stationID     8
clock         1
minute       10
inNums        0
outNums       0
Name: 1159, dtype: object
stationID     8
clock         1
minute       20
inNums        0
outNums       0
Name: 1160, dtype: object
stationID     8
clock         1
minute       30
inNums        0
outNums       0
Name: 1161, dtype: object
stationID     8
clock         1
minute       40
inNums        0
outNums       0
Name: 1162, dtype: object
stationID     8
clock         1
minute       50
inNums        0
outNums       0
Name: 1163, dtype: object
stationID    8
clock        2
minute       0
inNums       0
outNums      0
Name: 1164, dtype: object
stationID     8
clock         2
minute       10
inNums        0
outNums       0
Name: 1165, dtype: object
stationID     8
clock         2
minute       20
inNums        0
outNums       0
Name: 1166, dtype: object

stationID     8
clock         2
minute       30
inNums        0
outNums       0
Name: 1167, dtype: object
stationID     8
clock         2
minute       40
inNums        0
outNums       0
Name: 1168, dtype: object
stationID     8
clock         2
minute       50
inNums        0
outNums       0
Name: 1169, dtype: object
stationID    8
clock        3
minute       0
inNums       0
outNums      0
Name: 1170, dtype: object
stationID     8
clock         3
minute       10
inNums        0
outNums       0
Name: 1171, dtype: object
stationID     8
clock         3
minute       20
inNums        0
outNums       0
Name: 1172, dtype: object
stationID     8
clock         3
minute       30
inNums        0
outNums       0
Name: 1173, dtype: object
stationID     8
clock         3
minute       40
inNums        0
outNums       0
Name: 1174, dtype: object
stationID     8
clock         3
minute       50
inNums        0
outNums       0
Name: 1175, dtype: object
stationID    8
clock        4
minute       0
inNums       0
outNums      0
Name: 1176, dtype: object
stationID     8
clock         4
minute       10
inNums        0
outNums       0
Name: 1177, dtype: object
stationID     8
clock         4
minute       20
inNums        0
outNums       0
Name: 1178, dtype: object
stationID     8
clock         4
minute       30
inNums        0
outNums       0
Name: 1179, dtype: object
stationID     8
clock         4
minute       40
inNums        0
outNums       0
Name: 1180, dtype: object
stationID     8
clock         4
minute       50
inNums        0
outNums       0
Name: 1181, dtype: object
stationID    8
clock        5
minute       0
inNums       0
outNums      0
Name: 1182, dtype: object
stationID     8
clock         5
minute       10
inNums        0
outNums       0
Name: 1183, dtype: object
stationID     8
clock         5
minute       20
inNums        0
outNums       0
Name: 1184, dtype: object
stationID     8
clock         5
minute       30
inNums        0
outNums       0
Name: 1185, dtype: object
stationID     8
clock         5
minute       40
inNums       43
outNums       0
Name: 1186, dtype: object
stationID      8
clock          5
minute        50
inNums       141
outNums        0
Name: 1187, dtype: object
stationID      8
clock          6
minute         0
inNums       150
outNums        4
Name: 1188, dtype: object
stationID      8
clock          6
minute        10
inNums       227
outNums       19
Name: 1189, dtype: object
stationID      8
clock          6
minute        20
inNums       157
outNums       14
Name: 1190, dtype: object
stationID      8
clock          6
minute        30
inNums       118
outNums       11
Name: 1191, dtype: object
stationID      8
clock          6
minute        40
inNums       107
outNums       31
Name: 1192, dtype: object
stationID     8
clock         6
minute       50
inNums       87
outNums      16
Name: 1193, dtype: object
stationID     8
clock         7
minute        0
inNums       97
outNums      37
Name: 1194, dtype: object
stationID     8
clock         7
minute       10
inNums       86
outNums      38
Name: 1195, dtype: object
stationID      8
clock          7
minute        20
inNums       130
outNums       47
Name: 1196, dtype: object
stationID     8
clock         7
minute       30
inNums       91
outNums      78
Name: 1197, dtype: object
stationID     8
clock         7
minute       40
inNums       80
outNums      71
Name: 1198, dtype: object
stationID      8
clock          7
minute        50
inNums       121
outNums      105
Name: 1199, dtype: object
stationID     8
clock         8
minute        0
inNums       94
outNums      91
Name: 1200, dtype: object
stationID      8
clock          8
minute        10
inNums        79
outNums      131
Name: 1201, dtype: object
stationID      8
clock          8
minute        20
inNums       117
outNums      122
Name: 1202, dtype: object
stationID      8
clock          8
minute        30
inNums       131
outNums      248
Name: 1203, dtype: object
stationID      8
clock          8
minute        40
inNums       122
outNums      254
Name: 1204, dtype: object
stationID      8
clock          8
minute        50
inNums       129
outNums      237
Name: 1205, dtype: object
stationID      8
clock          9
minute         0
inNums       136
outNums      200
Name: 1206, dtype: object
stationID      8
clock          9
minute        10
inNums       137
outNums      246
Name: 1207, dtype: object
stationID      8
clock          9
minute        20
inNums       143
outNums      234
Name: 1208, dtype: object
stationID      8
clock          9
minute        30
inNums       162
outNums      243
Name: 1209, dtype: object
stationID      8
clock          9
minute        40
inNums       183
outNums      252
Name: 1210, dtype: object
stationID      8
clock          9
minute        50
inNums       163
outNums      299
Name: 1211, dtype: object
stationID      8
clock         10
minute         0
inNums       212
outNums      312
Name: 1212, dtype: object
stationID      8
clock         10
minute        10
inNums       212
outNums      330
Name: 1213, dtype: object
stationID      8
clock         10
minute        20
inNums       203
outNums      331
Name: 1214, dtype: object
stationID      8
clock         10
minute        30
inNums       239
outNums      343
Name: 1215, dtype: object
stationID      8
clock         10
minute        40
inNums       250
outNums      451
Name: 1216, dtype: object
stationID      8
clock         10
minute        50
inNums       233
outNums      466
Name: 1217, dtype: object
stationID      8
clock         11
minute         0
inNums       263
outNums      435
Name: 1218, dtype: object
stationID      8
clock         11
minute        10
inNums       260
outNums      454
Name: 1219, dtype: object
stationID      8
clock         11
minute        20
inNums       267
outNums      424
Name: 1220, dtype: object
stationID      8
clock         11
minute        30
inNums       300
outNums      528
Name: 1221, dtype: object
stationID      8
clock         11
minute        40
inNums       325
outNums      414
Name: 1222, dtype: object
stationID      8
clock         11
minute        50
inNums       344
outNums      431
Name: 1223, dtype: object
stationID      8
clock         12
minute         0
inNums       402
outNums      427
Name: 1224, dtype: object
stationID      8
clock         12
minute        10
inNums       377
outNums      421
Name: 1225, dtype: object
stationID      8
clock         12
minute        20
inNums       344
outNums      411
Name: 1226, dtype: object
stationID      8
clock         12
minute        30
inNums       382
outNums      428
Name: 1227, dtype: object
stationID      8
clock         12
minute        40
inNums       453
outNums      452
Name: 1228, dtype: object
stationID      8
clock         12
minute        50
inNums       355
outNums      446
Name: 1229, dtype: object
stationID      8
clock         13
minute         0
inNums       450
outNums      483
Name: 1230, dtype: object
stationID      8
clock         13
minute        10
inNums       434
outNums      565
Name: 1231, dtype: object
stationID      8
clock         13
minute        20
inNums       408
outNums      463
Name: 1232, dtype: object
stationID      8
clock         13
minute        30
inNums       448
outNums      435
Name: 1233, dtype: object
stationID      8
clock         13
minute        40
inNums       529
outNums      487
Name: 1234, dtype: object
stationID      8
clock         13
minute        50
inNums       507
outNums      500
Name: 1235, dtype: object
stationID      8
clock         14
minute         0
inNums       498
outNums      453
Name: 1236, dtype: object
stationID      8
clock         14
minute        10
inNums       562
outNums      503
Name: 1237, dtype: object
stationID      8
clock         14
minute        20
inNums       571
outNums      593
Name: 1238, dtype: object
stationID      8
clock         14
minute        30
inNums       539
outNums      463
Name: 1239, dtype: object
stationID      8
clock         14
minute        40
inNums       578
outNums      475
Name: 1240, dtype: object
stationID      8
clock         14
minute        50
inNums       654
outNums      421
Name: 1241, dtype: object
stationID      8
clock         15
minute         0
inNums       711
outNums      448
Name: 1242, dtype: object
stationID      8
clock         15
minute        10
inNums       707
outNums      439
Name: 1243, dtype: object
stationID      8
clock         15
minute        20
inNums       735
outNums      358
Name: 1244, dtype: object

stationID      8
clock         15
minute        30
inNums       773
outNums      380
Name: 1245, dtype: object
stationID      8
clock         15
minute        40
inNums       771
outNums      343
Name: 1246, dtype: object
stationID      8
clock         15
minute        50
inNums       696
outNums      389
Name: 1247, dtype: object
stationID      8
clock         16
minute         0
inNums       727
outNums      379
Name: 1248, dtype: object
stationID      8
clock         16
minute        10
inNums       772
outNums      332
Name: 1249, dtype: object
stationID      8
clock         16
minute        20
inNums       761
outNums      354
Name: 1250, dtype: object
stationID      8
clock         16
minute        30
inNums       601
outNums      377
Name: 1251, dtype: object
stationID      8
clock         16
minute        40
inNums       752
outNums      251
Name: 1252, dtype: object
stationID      8
clock         16
minute        50
inNums       692
outNums      338
Name: 1253, dtype: object
stationID      8
clock         17
minute         0
inNums       801
outNums      290
Name: 1254, dtype: object
stationID      8
clock         17
minute        10
inNums       756
outNums      334
Name: 1255, dtype: object
stationID      8
clock         17
minute        20
inNums       676
outNums      260
Name: 1256, dtype: object
stationID      8
clock         17
minute        30
inNums       689
outNums      267
Name: 1257, dtype: object
stationID      8
clock         17
minute        40
inNums       684
outNums      332
Name: 1258, dtype: object
stationID      8
clock         17
minute        50
inNums       586
outNums      280
Name: 1259, dtype: object
stationID      8
clock         18
minute         0
inNums       626
outNums      276
Name: 1260, dtype: object
stationID      8
clock         18
minute        10
inNums       574
outNums      227
Name: 1261, dtype: object
stationID      8
clock         18
minute        20
inNums       520
outNums      252
Name: 1262, dtype: object
stationID      8
clock         18
minute        30
inNums       432
outNums      257
Name: 1263, dtype: object
stationID      8
clock         18
minute        40
inNums       424
outNums      249
Name: 1264, dtype: object
stationID      8
clock         18
minute        50
inNums       413
outNums      222
Name: 1265, dtype: object
stationID      8
clock         19
minute         0
inNums       494
outNums      189
Name: 1266, dtype: object
stationID      8
clock         19
minute        10
inNums       408
outNums      163
Name: 1267, dtype: object
stationID      8
clock         19
minute        20
inNums       382
outNums      202
Name: 1268, dtype: object
stationID      8
clock         19
minute        30
inNums       371
outNums      178
Name: 1269, dtype: object
stationID      8
clock         19
minute        40
inNums       393
outNums      157
Name: 1270, dtype: object
stationID      8
clock         19
minute        50
inNums       352
outNums      160
Name: 1271, dtype: object
stationID      8
clock         20
minute         0
inNums       357
outNums      146
Name: 1272, dtype: object
stationID      8
clock         20
minute        10
inNums       352
outNums      163
Name: 1273, dtype: object
stationID      8
clock         20
minute        20
inNums       348
outNums      161
Name: 1274, dtype: object
stationID      8
clock         20
minute        30
inNums       320
outNums      167
Name: 1275, dtype: object
stationID      8
clock         20
minute        40
inNums       323
outNums      117
Name: 1276, dtype: object
stationID      8
clock         20
minute        50
inNums       263
outNums      132
Name: 1277, dtype: object
stationID      8
clock         21
minute         0
inNums       266
outNums      122
Name: 1278, dtype: object
stationID      8
clock         21
minute        10
inNums       353
outNums      132
Name: 1279, dtype: object
stationID      8
clock         21
minute        20
inNums       197
outNums      137
Name: 1280, dtype: object
stationID      8
clock         21
minute        30
inNums       254
outNums      107
Name: 1281, dtype: object
stationID      8
clock         21
minute        40
inNums       206
outNums      112
Name: 1282, dtype: object
stationID      8
clock         21
minute        50
inNums       217
outNums       98
Name: 1283, dtype: object
stationID      8
clock         22
minute         0
inNums       232
outNums      107
Name: 1284, dtype: object
stationID      8
clock         22
minute        10
inNums       193
outNums      107
Name: 1285, dtype: object
stationID      8
clock         22
minute        20
inNums       122
outNums       81
Name: 1286, dtype: object
stationID      8
clock         22
minute        30
inNums       132
outNums      102
Name: 1287, dtype: object
stationID      8
clock         22
minute        40
inNums       126
outNums       72
Name: 1288, dtype: object
stationID     8
clock        22
minute       50
inNums       98
outNums      81
Name: 1289, dtype: object
stationID     8
clock        23
minute        0
inNums       71
outNums      69
Name: 1290, dtype: object
stationID     8
clock        23
minute       10
inNums       29
outNums      45
Name: 1291, dtype: object
stationID     8
clock        23
minute       20
inNums       13
outNums      15
Name: 1292, dtype: object
stationID     8
clock        23
minute       30
inNums       12
outNums      20
Name: 1293, dtype: object
stationID     8
clock        23
minute       40
inNums        2
outNums      10
Name: 1294, dtype: object
stationID     8
clock        23
minute       50
inNums        0
outNums       9
Name: 1295, dtype: object
stationID    9
clock        0
minute       0
inNums       0
outNums      0
Name: 1296, dtype: object
stationID     9
clock         0
minute       10
inNums        0
outNums       0
Name: 1297, dtype: object
stationID     9
clock         0
minute       20
inNums        0
outNums       0
Name: 1298, dtype: object
stationID     9
clock         0
minute       30
inNums        0
outNums       0
Name: 1299, dtype: object
stationID     9
clock         0
minute       40
inNums        0
outNums       0
Name: 1300, dtype: object
stationID     9
clock         0
minute       50
inNums        0
outNums       0
Name: 1301, dtype: object
stationID    9
clock        1
minute       0
inNums       0
outNums      0
Name: 1302, dtype: object
stationID     9
clock         1
minute       10
inNums        0
outNums       0
Name: 1303, dtype: object
stationID     9
clock         1
minute       20
inNums        0
outNums       0
Name: 1304, dtype: object
stationID     9
clock         1
minute       30
inNums        0
outNums       0
Name: 1305, dtype: object
stationID     9
clock         1
minute       40
inNums        0
outNums       0
Name: 1306, dtype: object
stationID     9
clock         1
minute       50
inNums        0
outNums       0
Name: 1307, dtype: object
stationID    9
clock        2
minute       0
inNums       0
outNums      0
Name: 1308, dtype: object
stationID     9
clock         2
minute       10
inNums        0
outNums       0
Name: 1309, dtype: object
stationID     9
clock         2
minute       20
inNums        0
outNums       0
Name: 1310, dtype: object
stationID     9
clock         2
minute       30
inNums        0
outNums       0
Name: 1311, dtype: object
stationID     9
clock         2
minute       40
inNums        0
outNums       0
Name: 1312, dtype: object
stationID     9
clock         2
minute       50
inNums        0
outNums       0
Name: 1313, dtype: object
stationID    9
clock        3
minute       0
inNums       0
outNums      0
Name: 1314, dtype: object
stationID     9
clock         3
minute       10
inNums        0
outNums       0
Name: 1315, dtype: object
stationID     9
clock         3
minute       20
inNums        0
outNums       0
Name: 1316, dtype: object
stationID     9
clock         3
minute       30
inNums        0
outNums       0
Name: 1317, dtype: object
stationID     9
clock         3
minute       40
inNums        0
outNums       0
Name: 1318, dtype: object
stationID     9
clock         3
minute       50
inNums        0
outNums       0
Name: 1319, dtype: object
stationID    9
clock        4
minute       0
inNums       0
outNums      0
Name: 1320, dtype: object
stationID     9
clock         4
minute       10
inNums        0
outNums       0
Name: 1321, dtype: object
stationID     9
clock         4
minute       20
inNums        0
outNums       0
Name: 1322, dtype: object

stationID     9
clock         4
minute       30
inNums        0
outNums       0
Name: 1323, dtype: object
stationID     9
clock         4
minute       40
inNums        0
outNums       0
Name: 1324, dtype: object
stationID     9
clock         4
minute       50
inNums        0
outNums       0
Name: 1325, dtype: object
stationID    9
clock        5
minute       0
inNums       0
outNums      0
Name: 1326, dtype: object
stationID     9
clock         5
minute       10
inNums        0
outNums       0
Name: 1327, dtype: object
stationID     9
clock         5
minute       20
inNums        0
outNums       0
Name: 1328, dtype: object
stationID     9
clock         5
minute       30
inNums        0
outNums       0
Name: 1329, dtype: object
stationID      9
clock          5
minute        40
inNums       195
outNums        0
Name: 1330, dtype: object
stationID      9
clock          5
minute        50
inNums       410
outNums        5
Name: 1331, dtype: object
stationID      9
clock          6
minute         0
inNums       324
outNums        3
Name: 1332, dtype: object
stationID      9
clock          6
minute        10
inNums       281
outNums       37
Name: 1333, dtype: object
stationID      9
clock          6
minute        20
inNums       163
outNums       60
Name: 1334, dtype: object

In [12]:
import os
import numpy as np
import pandas as pd
test_path = 'D:\\data\\Metro\\Metro_testA\\'
submit = pd.read_csv(test_path + "testA_submit_2019-01-29.csv")
result = pd.read_csv(test_path + "result.csv")
submit['inNums'] = result['inNums'] + 0.0
submit['outNums'] = result['outNums'] + 0.0
submit.info()
submit.to_csv("testA_submit_2019-01-xx.csv", index=False, encoding='utf8')
submit

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11664 entries, 0 to 11663
Data columns (total 5 columns):
stationID    11664 non-null int64
startTime    11664 non-null object
endTime      11664 non-null object
inNums       11664 non-null float64
outNums      11664 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 455.7+ KB

       stationID            startTime              endTime  inNums  outNums
0              0  2019-01-29 00:00:00  2019-01-29 00:10:00     0.0      1.0
1              0  2019-01-29 00:10:00  2019-01-29 00:20:00     0.0      2.0
2              0  2019-01-29 00:20:00  2019-01-29 00:30:00     0.0      0.0
3              0  2019-01-29 00:30:00  2019-01-29 00:40:00     0.0      0.0
4              0  2019-01-29 00:40:00  2019-01-29 00:50:00     0.0      0.0
5              0  2019-01-29 00:50:00  2019-01-29 01:00:00     0.0      0.0
6              0  2019-01-29 01:00:00  2019-01-29 01:10:00     0.0      0.0
7              0  2019-01-29 01:10:00  2019-01-29 01:20:00     0.0      0.0
8              0  2019-01-29 01:20:00  2019-01-29 01:30:00     0.0      0.0
9              0  2019-01-29 01:30:00  2019-01-29 01:40:00     0.0      0.0
10             0  2019-01-29 01:40:00  2019-01-29 01:50:00     0.0      0.0
11             0  2019-01-29 01:50:00  2019-01-29 02:00:00     0.0      0.0
12             0  2019-01-29 02:00:00  2019-01-29 02:10:00     0.0      0.0
13             0  2019-01-29 02:10:00  2019-01-29 02:20:00     0.0      0.0
14             0  2019-01-29 02:20:00  2019-01-29 02:30:00     0.0      0.0
15             0  2019-01-29 02:30:00  2019-01-29 02:40:00     0.0      0.0
16             0  2019-01-29 02:40:00  2019-01-29 02:50:00     0.0      0.0
17             0  2019-01-29 02:50:00  2019-01-29 03:00:00     0.0      0.0
18             0  2019-01-29 03:00:00  2019-01-29 03:10:00     0.0      0.0
19             0  2019-01-29 03:10:00  2019-01-29 03:20:00     0.0      0.0
20             0  2019-01-29 03:20:00  2019-01-29 03:30:00     0.0      0.0
21             0  2019-01-29 03:30:00  2019-01-29 03:40:00     0.0      0.0
22             0  2019-01-29 03:40:00  2019-01-29 03:50:00     0.0      0.0
23             0  2019-01-29 03:50:00  2019-01-29 04:00:00     0.0      0.0
24             0  2019-01-29 04:00:00  2019-01-29 04:10:00     0.0      0.0
25             0  2019-01-29 04:10:00  2019-01-29 04:20:00     0.0      0.0
26             0  2019-01-29 04:20:00  2019-01-29 04:30:00     0.0      0.0
27             0  2019-01-29 04:30:00  2019-01-29 04:40:00     0.0      1.0
28             0  2019-01-29 04:40:00  2019-01-29 04:50:00     0.0      0.0
29             0  2019-01-29 04:50:00  2019-01-29 05:00:00     0.0      0.0
...          ...                  ...                  ...     ...      ...
11634         80  2019-01-29 19:00:00  2019-01-29 19:10:00    23.0     86.0
11635         80  2019-01-29 19:10:00  2019-01-29 19:20:00    18.0     76.0
11636         80  2019-01-29 19:20:00  2019-01-29 19:30:00    22.0     64.0
11637         80  2019-01-29 19:30:00  2019-01-29 19:40:00    16.0     64.0
11638         80  2019-01-29 19:40:00  2019-01-29 19:50:00    19.0     52.0
11639         80  2019-01-29 19:50:00  2019-01-29 20:00:00    18.0     45.0
11640         80  2019-01-29 20:00:00  2019-01-29 20:10:00    28.0     53.0
11641         80  2019-01-29 20:10:00  2019-01-29 20:20:00    23.0     66.0
11642         80  2019-01-29 20:20:00  2019-01-29 20:30:00    24.0     33.0
11643         80  2019-01-29 20:30:00  2019-01-29 20:40:00    26.0     54.0
11644         80  2019-01-29 20:40:00  2019-01-29 20:50:00    17.0     62.0
11645         80  2019-01-29 20:50:00  2019-01-29 21:00:00    17.0     36.0
11646         80  2019-01-29 21:00:00  2019-01-29 21:10:00    21.0     62.0
11647         80  2019-01-29 21:10:00  2019-01-29 21:20:00    18.0     62.0
11648         80  2019-01-29 21:20:00  2019-01-29 21:30:00    28.0     57.0
11649         80  2019-01-29 21:30:00  2019-01-29 21:40:00    23.0     38.0
11650         80  2019-01-29 21:40:00  2019-01-29 21:50:00    15.0     56.0
11651         80  2019-01-29 21:50:00  2019-01-29 22:00:00    10.0     57.0
11652         80  2019-01-29 22:00:00  2019-01-29 22:10:00    15.0     51.0
11653         80  2019-01-29 22:10:00  2019-01-29 22:20:00    10.0     34.0
11654         80  2019-01-29 22:20:00  2019-01-29 22:30:00    17.0     45.0
11655         80  2019-01-29 22:30:00  2019-01-29 22:40:00    15.0     18.0
11656         80  2019-01-29 22:40:00  2019-01-29 22:50:00     3.0     28.0
11657         80  2019-01-29 22:50:00  2019-01-29 23:00:00     3.0     31.0
11658         80  2019-01-29 23:00:00  2019-01-29 23:10:00     1.0      7.0
11659         80  2019-01-29 23:10:00  2019-01-29 23:20:00     0.0     12.0
11660         80  2019-01-29 23:20:00  2019-01-29 23:30:00     0.0     13.0
11661         80  2019-01-29 23:30:00  2019-01-29 23:40:00     4.0     15.0
11662         80  2019-01-29 23:40:00  2019-01-29 23:50:00     2.0      4.0
11663         80  2019-01-29 23:50:00  2019-01-30 00:00:00     0.0      1.0

[11664 rows x 5 columns]